.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 2px solid rosybrown;
    padding: 0 15px;
    margin-top: 15px;
}

.header-logo {
    width: 100px;
    height: 60px;

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 574px) {
        width: 80px;
    }
}

.header-registr {
    display: flex;
    align-items: center;
}

.header-name {
    margin-right: 25px;
    font-size: 18px;

    @media (max-width: 574px) {
        font-size: 17px;
        margin-right: 15px;
    }
}

.header-button {
    width: 100px;
}