
    .burger-wrapper {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        @media (max-width: $ipod + px) {
            display: flex;
        }
    }
    .burger {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
    }
    .burger span,
    .burger span::before,
    .burger span::after{
        position: absolute;
        margin-left: -12.5px;
        margin-top: -1px;
        top: 50%;
        left: 50%;
        width: 25px;
        height: 2px;
        background-color: #3B3A3A;
    }
    .burger span::before,
    .burger span::after {
        content: '';
        display: block;
        transition: all 250ms;
    }
    .burger span::before{
        transform: translateY(-6px);
    }
    .burger span::after{
        transform: translateY(6px);
    }
    .burger-active span{
        height: 0px;
    }
    .burger-active span::before{
        transform: rotate(-45deg);
    }
    .burger-active span::after{
        transform: rotate(45deg);
    }
