.header {
    width: 100%;
    height: 170px;
    position: relative;
    z-index: 100;
    @media (max-width: $ipod + px) {
        height: 100px;
    }
    @media (max-width: $iphone + px) {
        height: 80px;
    }
}
.header-bg{
    background-color: $white;
    width: 100%;
    height: 170px;
    // position: fixed;
    top: 0;
    right: 0;
    margin: 0 auto;
    left: 0;
    z-index: 100;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    @media (max-width: $ipod + px) {
        height: 100px;
    }
    @media (max-width: $iphone + px) {
        height: 80px;
    }
}

.header-inner {
    padding-top: 12px;
    padding-bottom: 24px;
}
.header-top {
    display: flex;
    align-items: center;
}
.header-logo {
    width: 76px;
    margin-right: 84px;
    @media (max-width: $ipad + px) {
        margin-right: 30px;
    }
    @media (max-width: $ipod + px) {
        width: 65px;
    }
    @media (max-width: $iphone + px) {
        width: 44px;
        margin-right: 8px;
    }
}
.header-input__block{
    position: relative;
    width: 391px;
    @media (max-width: $ipad + px) {
        width: 300px;
    }
    @media (max-width: $iphone + px) {
        width: 100%;
    }
}
.header-input__icon{
    position: absolute;
    top: 6.5px;
    right: 9px;
}
.header-input {
    width: 100%;
    height: 30px;
    padding-right: 30px;
    padding-left: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3B3A3A;
    background: $white;
    border: 1px solid #BFB9B9;
    border-radius: 50px;
}
.header-block {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header-login {
    padding-right: 23px;
    margin-right: 23px;
    border-right: 1px solid #393536;
		&__link {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #3B3A3A;
		}
        @media (max-width: $ipod + px) {
            display: none;
        }
}
.enter {
    margin-right: 3px;
}
.registration {
    margin-left: 3px;
}
.enter:hover,
.registration:hover {
    text-decoration: underline;
}
.header-bucket {
        position: relative;
		&__count {
            position: absolute;
            top: 3.5px;
            right: -3.5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E46A4A;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 6px;
            line-height: 24px;
            color: $white;
		}
        @media (max-width: $ipod + px) {
            padding-left: 12px;
            border-left: 1px solid #393536;
        }
}
.header-bottom {
    width: 100%;
    margin-top: 22px;
    @media (max-width: $ipod + px) {
        position: absolute;
        top: 100%;
        right: -100%;
        margin-top: 0;
        transition: all 250ms ease-in-out;
    }
}
.header-bottom.active{
    right: 0;
}
.header-bottom .header-bottom__login{
    display: none;
    @media (max-width: $ipod + px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
    }
}
.header-bottom__link {
    padding-left: 5px;
    cursor: pointer;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    color: $black;
    background-color: $white;
    opacity: 0.3;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    @media (max-width: 425px) {
        width: 200px;
    }
}
.header-bottom__link:hover{
    color: $white;
    background-color: #E1918A;
    opacity: 1;
}
.header-bottom .spoiler{
    display: none;
    @media (max-width: $ipod + px) {
        display: flex;
        width: 100%;
    }
}
.header-bottom .spoiler-wrapper {
    width: 100%;
}
.header-bottom .spoiler-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top: none;
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    background-color: $white;
    opacity: 0.3;
    padding-left: 5px;
    border-radius: 10px;
}
.header-bottom .spoiler-title__text {
    text-transform: uppercase;
}
.header-bottom .spoiler-title__arrow {
    font-size: 12px;
    color: $black;
    top: 10px;
    right: 10px;
}
.header-bottom .spoiler-content {
    width: 100%;
    background-color: transparent;
    color: $white;
    max-height: 0px;
    overflow: hidden;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    transition: all 150ms ease-in-out;
}
.header-bottom .spoiler-content a{
    display: block;
}
.header-bottom .spoiler-content__wrapper{
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #E1918A;
    border-top: none;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
		&__link {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #3B3A3A;
            @media (max-width: $ipod + px) {
                color: $white;
                padding-left: 5px;
                padding-right: 5px;
            }
		}
        @media (max-width: $ipod + px) {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            background-color: $red;
            padding: 15px;
        }
}
.header-menu {
    position: relative;
		&__title {
            position: relative;
            span{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #3B3A3A;
                cursor: pointer;
                padding-right: 13px;
            }
		}

		&__list {
            position: absolute;
            top: 100%;
            right: 0;
            width: 200px;
            background-color: #F5F5F5;
            display: none;
            @media (max-width: $ipad + px) {
                width: 150px;
            }
            a{
                display: block;
                height: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 15px;
                padding-right: 15px;
                justify-content: flex-start;
                transition: all 250ms ease;
            }
            a:hover{
                background-color: #c6c6c6;
            }
		}
        @media (max-width: $ipod + px) {
            display: none;
        }
}
.header-menu:hover .header-menu__list{
    display: flex;
    flex-direction: column;
}
.fa-chevron-down {
    position: absolute;
    font-size: 10px;
    top: 8px;
    right: -3px;
    transition: all 250ms ease;
}
.header-menu:hover .fa-chevron-down{
    rotate: 180deg;
}