/* All Scss files*/
@import 'files';

/********************************/

// INTRO

.intro {
    width: 100%;
}

.intro-inner {
    padding-top: 171px;
    padding-bottom: 171px;

    @media (max-width: $ipad + px) {
        padding-top: 121px;
        padding-bottom: 121px;
    }

    @media (max-width: $ipod + px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.intro-title {
    font-family: Segoe;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;
    color: $white;

    @media (max-width: $ipad + px) {
        font-size: 38px;
    }

    @media (max-width: $ipod + px) {
        font-size: 28px;
        line-height: 30px;
    }

    @media (max-width: $iphone + px) {
        font-size: 22px;
    }
}

.intro-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 27px;
    text-align: center;
    color: $white;

    @media (max-width: $ipod + px) {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
    }

    @media (max-width: $iphone + px) {
        font-size: 14px;
    }
}

// WHO

.who {
    width: 100%;
    background-color: $white;
    position: relative;
}

.who-inner {
    padding-top: 61px;
    padding-bottom: 61px;

    @media (max-width: $ipad + px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @media (max-width: $ipod + px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.who-title {
    font-family: Segoe;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: $black;

    @media (max-width: $iphone + px) {
        font-size: 28px;
    }
}

.who-row {
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

    @media (max-width: $ipad + px) {
        margin-top: 60px;
    }

    @media (max-width: $ipod + px) {
        margin-top: 40px;
    }
}

.who-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 111px;

    @media (max-width: $ipod + px) {
        width: 48%;
        margin-top: 80px;
    }

    @media (max-width: $iphone + px) {
        width: 100%;
        margin-top: 30px;
    }
}

.who-item:nth-child(1),
.who-item:nth-child(2),
.who-item:nth-child(3) {
    margin-top: 0;
}

.who-item:nth-child(3) {
    @media (max-width: $ipod + px) {
        margin-top: 80px;
    }

    @media (max-width: $iphone + px) {
        margin-top: 30px;
    }
}

.who-item:nth-child(2) {
    @media (max-width: $iphone + px) {
        margin-top: 30px;
    }
}

.who-img {
    width: 59px;
    height: 62px;
}

.who-text {
    text-align: center;
    margin-top: 15px;
    z-index: 2;

    @media (max-width: $ipod + px) {
        font-size: 14px;
    }
}

.who-tomato {
    position: absolute;
    top: 100px;
    left: 0;

    @media (max-width: $ipod + px) {
        top: 232px;
    }

    @media (max-width: $iphone + px) {
        top: 210px;
    }
}

.who-peppers {
    position: absolute;
    right: 0;
    bottom: 115px;

    @media (max-width: $iphone + px) {
        bottom: 39px;
    }
}

// ADVICE

.advice {
    width: 100%;
}

.advice-inner {
    padding-top: 149px;
    padding-bottom: 83px;
}

.advice-title {
    font-family: Segoe;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: $white;
    position: relative;

    @media (max-width: $ipad + px) {
        font-size: 30px;
    }

    @media (max-width: $ipod + px) {
        margin-left: 14px;
    }

    @media (max-width: $iphone + px) {
        font-size: 25px;
    }
}

.advice-title::before {
    position: absolute;
    transform: translate(-46px, -11px);
    content: "";
    width: 30px;
    height: 30px;
    background: url(../img/home/quotes.svg) center no-repeat;

    @media (max-width: $ipod + px) {
        transform: translate(-33px, -11px);
    }

    @media (max-width: $iphone + px) {
        transform: translate(-28px, -11px);
    }
}

.advice-title::after {
    position: absolute;
    transform: translate(-166px, -59px);
    content: "";
    width: 30px;
    height: 30px;
    rotate: -187deg;
    background: url(../img/home/quotes.svg) center no-repeat;

    @media (max-width: $ipod + px) {
        transform: translate(-108px, -36px);
    }

    @media (max-width: $iphone + px) {
        transform: translate(-4px, -28px);
    }
}

.advice-avatar {
    margin-top: 31px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {}

    &__name {
        margin-left: 26px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $white;

        @media (max-width: $iphone + px) {
            font-size: 16px;
        }
    }
}

// SONYA

.sonya {
    width: 100%;
    position: relative;
}

.sonya-inner {
    padding-top: 108px;
    padding-bottom: 85px;

    @media (max-width: $ipad + px) {
        padding-top: 80px;
        padding-bottom: 65px;
    }

    @media (max-width: $ipod + px) {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    @media (max-width: $iphone + px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.sonya-row {
    width: 100%;
    display: flex;
    align-items: flex-start;

    &__img {
        width: 460px;
        margin-right: 79px;

        @media (max-width: $ipad + px) {
            width: 360px;
            margin-right: 20px;
        }

        @media (max-width: 890px) {
            width: 300px;
        }

        @media (max-width: $ipod + px) {
            width: 280px;
            margin: 0 auto;
        }
    }

    @media (max-width: $ipod + px) {
        flex-direction: column;
    }
}

.sonya-block {
    width: 100%;

    @media (max-width: $ipod + px) {
        margin-top: 25px;
    }
}

.sonya-title {
    z-index: 2;

    @media (max-width: $ipad + px) {
        font-size: 26px;
        width: 325px;
    }

    @media (max-width: $ipod + px) {
        width: 100%;
    }

    @media (max-width: $iphone + px) {
        font-size: 24px;
        line-height: 40px;
    }
}

.sonya-name {
    z-index: 2;

    @media (max-width: $ipad + px) {
        font-size: 16px;
    }

    @media (max-width: $iphone + px) {
        font-size: 14px;
        line-height: 22px;
    }
}

.sonya-name span {
    color: $black;
}

.sonya-text {
    z-index: 2;
    margin-top: 46px;

    @media (max-width: $ipad + px) {
        margin-top: 15px;
    }
}

.sonya-buttons {
    margin-top: 62px;
    display: flex;
    align-items: center;

    @media (max-width: $ipad + px) {
        margin-top: 40px;
    }

    @media (max-width: $iphone + px) {
        flex-direction: column;
    }
}

.sonya-button:first-child {
    margin-right: 18px;

    @media (max-width: $iphone + px) {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.sonya-peppers {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;

    @media (max-width: $ipad + px) {
        display: none;
    }
}

.sonya-peppers2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;

    @media (max-width: $ipod + px) {
        z-index: -1;
        position: absolute;
        top: 400px;
        right: 0;
        width: 220px;
        opacity: .5;
    }

    @media (max-width: $iphone + px) {
        top: 600px;
    }
}

.sonya-peppers3 {
    position: absolute;
    top: 43px;
    right: -20px;
    z-index: -1;

    @media (max-width: $ipod + px) {
        top: 450px;
        opacity: 0.3;
    }

    @media (max-width: $iphone + px) {
        top: 650px;
    }
}

// FUNNY

.funny {
    width: 100%;
    position: relative;

    @media (max-width: 1120px) {
        overflow: hidden;
    }
}

.funny-inner {}

.funny-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 888px) {
        flex-direction: column;
    }
}

.funny-block {
    width: 45%;

    @media (max-width: 888px) {
        margin-bottom: 20px;
        width: 100%;
    }

    @media (max-width: $iphone + px) {
        margin-top: 30px;
    }

    &__title {
        margin-top: 26px;

        @media (max-width: $iphone + px) {
            font-size: 27px;
            margin-top: 15px;
        }
    }

    &__text {
        margin-top: 26px;

        @media (max-width: $iphone + px) {
            font-size: 14px;
            margin-top: 15px;
        }
    }

    &__button {
        margin-top: 26px;
        margin-bottom: 20px;

        @media (max-width: 888px) {
            margin-bottom: 0;
        }

        @media (max-width: $iphone + px) {
            margin-top: 15px;
        }
    }
}

.funny-row__img {
    width: 50%;

    @media (max-width: 888px) {
        width: 100%;
    }
}

.funny-tomato {
    position: absolute;
    top: -150px;
    right: 0;

    @media (max-width: 1120px) {
        display: none;
    }
}

.funny-mushrooms {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 159px;
    z-index: -1;

    @media (max-width: 888px) {
        top: 0;
        left: -11px;
        rotate: 55deg;
    }

}

.funny-spoon {
    position: absolute;
    bottom: 0;
    left: 495px;
    width: 144px;

    @media (max-width: 1120px) {
        left: 300px;
    }

    @media (max-width: 888px) {
        right: -54px;
        margin-left: auto;
    }

    @media (max-width: $iphone + px) {
        width: 120px;
    }
}

.funny-vegetables {
    position: absolute;
    bottom: 0;
    right: 52px;
    z-index: -1;

    @media (max-width: 1120px) {
        width: 100%;
        right: -270px;
    }

    @media (max-width: $iphone + px) {
        width: 100%;
        right: -160px;
    }
}

// YOU
.you {
    position: relative;
}

.you-inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.you-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: $ipod + px) {
        justify-content: center;
    }
}

.you-block {
    width: 620px;

    @media (max-width: $ipod + px) {
        width: 100%;
    }

    &__title {
        font-family: 'Segoe Print';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        color: $white;

        @media (max-width: $ipod + px) {
            font-size: 28px;
        }
    }

    &__item {
        width: 100%;
        margin-top: 52px;
        display: flex;
        align-items: center;

        @media (max-width: $ipod + px) {
            margin-top: 25px;
        }

        @media (max-width: $iphone + px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__img {
        margin-right: 24px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $iphone + px) {
            margin-right: 0;
        }
    }

    &__text {
        color: $white;

        @media (max-width: $ipod + px) {
            font-size: 14px;
        }

        @media (max-width: $iphone + px) {
            text-align: center;
            margin-top: 10px;
        }
    }

    &__description {
        display: block;
        margin-top: 44px;
        font-family: 'Segoe Print';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 50px;
        color: $white;

        @media (max-width: $ipod + px) {
            font-size: 28px;
        }

        @media (max-width: $iphone + px) {
            font-size: 18px;
            margin-top: 15px;
        }

        @media (max-width: 410px) {
            text-align: center;
        }
    }

    &__button {
        margin-top: 26px;

        @media (max-width: $ipod + px) {
            margin-top: 10px;
        }

        @media (max-width: 410px) {
            margin: 0 auto;
            margin-top: 10px;
        }
    }
}

.you-pepper {
    position: absolute;
    bottom: 30px;
    right: 60px;

    @media (max-width: $ipod + px) {
        bottom: 0;
    }

    @media (max-width: $iphone + px) {
        display: none;
    }
}

// PLAN

.plan {
    width: 100%;
    position: relative;
}

.plan-inner {
    padding-top: 78px;
    padding-bottom: 58px;

    @media (max-width: $ipad + px) {
        padding-top: 58px;
        padding-bottom: 38px;
    }

    @media (max-width: $ipod + px) {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    @media (max-width: $iphone + px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.plan-row {
    width: 100%;
    display: flex;
    align-items: flex-start;

    @media (max-width: $ipod + px) {
        flex-direction: column-reverse;
    }
}

.plan-block {
    width: 50%;

    @media (max-width: $ipod + px) {
        width: 100%;
        margin-top: 30px;
    }

    @media (max-width: $iphone + px) {
        margin-top: 20px;
    }
}

.plan-name span {
    margin-right: 5px;
    color: $black;
}

.plan-name {
    @media (max-width: $iphone + px) {
        font-size: 14px;
    }
}

.plan-title {
    margin-top: 3px;
    font-size: 30px;

    @media (max-width: $iphone + px) {
        font-size: 22px;
        line-height: 34px;
    }
}

.plan-text {
    font-size: 18px;
    margin-top: 18px;

    @media (max-width: 890px) {
        font-size: 16px;
    }

    @media (max-width: $iphone + px) {
        font-size: 14px;
        margin-top: 15px;
    }
}

.plan-block .plan-text:nth-last-child(3) {
    margin-top: 30px;

    @media (max-width: $iphone + px) {
        margin-top: 20px;
    }
}

.plan-block .plan-text:nth-last-child(2),
.plan-block .plan-text:last-child {
    margin-top: 24px;

    @media (max-width: $iphone + px) {
        margin-top: 20px;
    }
}

.plan-block__photo {
    position: relative;
    width: 34%;
    margin-left: 92px;

    @media (max-width: $ipad + px) {
        width: 360px;
        margin-left: 37px;
    }

    @media (max-width: 890px) {
        width: 330px;
        margin-left: 30px;
    }

    @media (max-width: $ipod + px) {
        margin: 0 auto;
    }

    @media (max-width: $iphone + px) {
        width: 280px;
    }
}

.plan-img {
    width: 100%;
}

.plan-tomato {
    position: absolute;
    top: 0;
    left: 0;
}

.plan-bg {
    position: absolute;
    top: 33%;
    left: 33%;

    @media (max-width: $ipod + px) {
        top: 64%;
    }
}

.plan-green {
    position: absolute;
    right: -50px;
    top: -50px;

    @media (max-width: 890px) {
        right: -40px;
    }

    @media (max-width: $ipod + px) {
        top: -30px;
        right: -30px;
        width: 100px;
    }
}

// COURSE

.course {
    position: relative;
}

.course-inner {
    padding-top: 75px;
    padding-bottom: 250px;

    @media (max-width: $ipad + px) {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    @media (max-width: $ipod + px) {
        padding-top: 40px;
        padding-bottom: 90px;
    }

    @media (max-width: $iphone + px) {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

.course-title {
    font-family: Segoe;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: $white;

    @media (max-width: $iphone + px) {
        font-size: 22px;
    }
}

.course-row {
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &__item {
        width: 43%;
        margin-bottom: 50px;

        @media (max-width: $ipad + px) {
            width: 47%;
        }

        @media (max-width: $ipod + px) {
            width: 100%;
            margin-bottom: 20px;
        }

    }

    @media (max-width: $ipad + px) {
        margin-top: 44px;
    }

    @media (max-width: $ipod + px) {
        flex-direction: column;
    }

    @media (max-width: $iphone + px) {
        margin-top: 15px;
    }
}

.course-item {
    display: flex;
    align-items: center;

    &__img {
        width: 64px;
        margin-right: 10px;

        @media (max-width: $iphone + px) {
            width: 45px;
        }
    }

    &__text {
        color: $white;

        @media (max-width: $iphone + px) {
            font-size: 14px;
        }
    }
}

.course-button {
    margin: 0 auto;
}

// FOR

.for {
    width: 100%;
    background: #FBF8F1;
}

.for-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 896px) {
        flex-direction: column-reverse;
    }
}

.for-sonya {
    width: 600px;

    @media (max-width: $ipad + px) {
        width: 49%;
    }

    @media (max-width: 896px) {
        width: 100%;
        margin-top: 30px;
    }
}

.for-block {
    width: 100%;

    @media (max-width: $ipad + px) {
        width: 51%;
    }

    @media (max-width: 896px) {
        width: 100%;
        padding-top: 30px;
    }
}

.for-name {
    color: #EF3148;
    font-size: 18px;

    @media (max-width: 896px) {
        text-align: center;
    }

    @media (max-width: $iphone + px) {
        font-size: 14px;
    }
}

.for-title {
    font-family: Segoe;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #343240;
    margin-top: 10px;

    @media (max-width: $ipad + px) {
        font-size: 26px;
    }

    @media (max-width: 896px) {
        text-align: center;
    }

    @media (max-width: $iphone + px) {
        font-size: 20px;
        line-height: 36px;
    }
}

.for-button {
    margin-top: 39px;

    @media (max-width: $ipad + px) {
        margin-top: 25px;
    }

    @media (max-width: 896px) {
        margin: 0 auto;
        margin-top: 25px;
    }
}

// RECOMMENDATION 

.recommendation {
    width: 100%;
    background-color: $white;
}

.recommendation-inner {
    padding-top: 74px;
    padding-bottom: 74px;
    @media (max-width: $ipad + px) {
        padding-top: 54px;
        padding-bottom: 54px;
    }
    @media (max-width: $ipod + px) {
        padding-top: 34px;
        padding-bottom: 34px;
    }
    @media (max-width: $iphone + px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.recommendation-title {
    font-family: Segoe;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #414141;
    @media (max-width: $ipod + px) {
        font-size: 26px;
    }
    @media (max-width: $iphone + px) {
        font-size: 22px;
    }
}

.recommendation-row {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $ipod + px) {
        flex-direction: column;
        margin-top: 15px;
    }
}

.recommendation-block {
    margin-right: 41px;

    @media (max-width: $ipad + px) {
        margin-right: 15px;
    }

    @media (max-width: $ipod + px) {
        margin-right: 0;
        margin-bottom: 15px;
    }

    &__box {
        display: flex;
        align-items: center;

    }

    &__bg {
        padding-left: 92px;
        padding-top: 35px;
        display: block;
        width: 360px;
        height: 190px;
        border-radius: 10px;
        background: url('@img/home/recommendation-youtube.png') center no-repeat;

        @media (max-width: $iphone + px) {
            width: 290px;
            padding-left: 25px;
        }
    }

    &__text {
        margin-right: 15px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: $white;
        @media (max-width: $iphone + px) {
            font-size: 20px;
        }
    }

    &__button {
        width: 107px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        cursor: pointer;
    }

    &__icon {
        width: 66px;
        height: 66px;
        background: url('@img/home/recommendation-icon.svg') center no-repeat;
    }

    &__name {
        display: block;
        margin-top: 18px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: $black;
        @media (max-width: $ipod + px) {
            font-size: 18px;
            margin-top: 10px;
        }
        @media (max-width: $ipod + px) {
            font-size: 16px;
        }
    }
}
.recommendation-block__img{
    @media (max-width: $iphone + px) {
        width: 290px;
    }
}
.recommendation-block:last-child {
    margin-right: 0;
}

// REVIEWS  
.reviews{
    width: 100%;
}
.reviews-inner{
    padding-top: 74px;
    padding-bottom: 74px;
    @media (max-width: $ipad + px) {
        padding-top: 54px;
        padding-bottom: 54px;
    }
    @media (max-width: $ipod + px) {
        padding-top: 34px;
        padding-bottom: 34px;
    }
    @media (max-width: $iphone + px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.reviews-tabs .tabs {
    width: 100%;
}

.reviews-tabs .tabs-buttons {
    display: flex;
    @media (max-width: $iphone + px) {
        flex-direction: column;
    }
}

.reviews-tabs .tabs-button {
    height: 90px;
    border-bottom: 4px solid #E5E5E5;
    font-family: 'Segoe Print';
    background-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    color: #35414D;
    width: 50%;
    cursor: pointer;
    @media (max-width: $iphone + px) {
        height: 70px;
        font-size: 26px;
        width: 100%;
        border-bottom: 4px solid transparent;
    }
}

.reviews-tabs .tabs-button.active {
    border-bottom: 4px solid $red;
}

.reviews-tabs .tabs-contents {
    width: 100%;
}

.reviews-tabs .tab-content {
    display: none;
    padding-top: 45px;
    padding-bottom: 45px;
    @media (max-width: $iphone + px) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.reviews-tabs .tab-content.active {
    display: block;
}

.video-reviews {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.video-bg {
    width: 100%;
    height: 310px;
    background: #F6F4F4;
    position: absolute;
    top: 25px;
    left: 0;
    z-index: -1;
    @media (max-width: $iphone + px) {
        display: none;
    }
}
.video {
    width: 640px;
    height: 350px;
    background: #B3B2B2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video .review-play{
    cursor: pointer;
}

// QUESTIONS

.questions {
}
.questions-inner {
    padding-top: 137px;
    padding-bottom: 137px;
    @media (max-width: $ipad + px) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    @media (max-width: $ipod + px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.questions-form {
    width: 510px;
    margin-left: auto;
    @media (max-width: 1200px) {
        margin-right: 100px;
    }
    @media (max-width: $ipod + px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
		&__title {
            font-family: Segoe;
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 50px;
            color: $white;
            @media (max-width: $iphone + px) {
                font-size: 26px;
            }
		}

		&__text {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #E8E8E8;
		}

		&__inputs {
            margin-top: 22px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: $ipod + px) {
                flex-direction: column;
            }
        }

		&__input {
            @media (max-width: $ipod + px) {
                width: 100%;
                margin-bottom: 15px;
            }
            width: 49%;
            height: 46px;
            background: #FFFFFF;
            border-radius: 50px;
            padding-left: 11px;
            font-family: OpenSans;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: #A49797;
		}
        &__input::placeholder{
            font-family: OpenSans;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: #A49797;
        }
		&__textarea {
            width: 100%;
            height: 140px;
            border-radius: 20px;
            font-family: OpenSans;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: #A49797;
            padding: 11px;
            margin-top: 6px;
            @media (max-width: $ipod + px) {
                margin-top: 0;
            }
		}
        &__textarea::placeholder{
            font-family: OpenSans;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            color: #A49797;
        }

		&__button {
            margin-top: 20px;
		}
}



