.switch input{
    display: none;
}
.slider {
    position: relative;
    width: 90px;
    display: block;
    height: 40px;
    background-color: #ccc;
    border-radius: 50px;
    cursor: pointer;
    transition: all 250ms ease;
}
.slider::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    transition: all 250ms ease;
}
.switch input:checked + .slider{
    background-color: tomato;
}
.switch input:checked + .slider::before{
    transform: translateX(50px);
}