body {
	font-family: Inter;
	font-weight: 400;
}
main{
    overflow-x: hidden;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}
.max-width {
    max-width: 1440px;
    margin: 0 auto;
}
.name{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: $red;
}
.title{
    font-family: Segoe;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    color: #343240;
}
.text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
}
.button1 a{
    display: block;
    color: $white;
}
.button1,
.button1 a{
    cursor: pointer;
    width: 203px;
    height: 56px;
    background: url('@img/button1.png') center no-repeat;
    font-family: OpenSans;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 30px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button3{
    background: #F15B5B;
    border-radius: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $white;
}
.big-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bg1{
    background: url('@img/home/home-big.png') right no-repeat;
}
.bg2{
    background: url('@img/home/home-big2.png') 11% no-repeat;
}
.bg3{
    background: url('@img/home/home-big3.png') center no-repeat;
    @media (max-width: $iphone + px) {
        background-repeat: repeat;
    }
}
.bg4{
    background: url('@img/home/home-big4.png') 59% no-repeat;
}
.bg5{
    background: url('@img/home/home-big5.png') 36% no-repeat;
}
.bg6{}
.bg7{}
.bg8{}


