
/* Обнуление */

*, *:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    outline: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px; 
}
::-webkit-scrollbar-thumb {
    width: 5px;
    margin: 2px;
    background-color: #797878;
    border-radius: 9em;
}

/* Обнуление */