
/* Обнуление */
*, *:before,*:after {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    color: black;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

/* Обнуление */

.header__bg{
    background-color:#ECF3FC;
}


.header__inner{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.header__select{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 250px;
}

select{
    font-size: 16px;
    background-color: #ECF3FC;
}

.select__text{
    border: 1px solid transparent;
    padding-bottom: 2px;
    margin-right: 10px;
}

select {
    border: none;
}

#nav{
    display: flex;
    margin-right: 70px;
}

#nav li{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5B5B5B;
    border: 1px solid transparent;
    padding: 5px;
    transition: ALL 300MS ease ;
}

#nav li:hover{
    background-color:  #c2dbff;
}

#nav li:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}

.registration{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5B5B5B;
    margin-left: 20px;
}

.separator{
    margin-left: 2px;
    margin-right: 2px;
}

.registration__icon{
    margin-left: 5px;
    padding-bottom: 3px;
}

.login:hover,
.signin:hover {
    text-decoration: underline;
}

.header__content{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.logo{
    margin-right: 40px;
}

.search{
    width: 350px;
    position: relative;
    margin-right: 10px;
}

.search__img{
    width: 19px;
    height: 19px;
    margin-right: 50px;
    position: absolute;
    top: 12px;
    left: 310px;
}

input{
    width: 320px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
}

input::placeholder{
    
    padding-top: 15px;
    padding-bottom: 15px;
}

.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 28px;
    margin-right: 30px;
}

.link__block{
    display: flex;
    align-items: center;
}

.link__block:nth-child(2) {
    margin-top: 5px;
    margin-bottom: 5px;
}

.link__img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.tel{
    font-weight: 600;
    padding-bottom: 5px;
}

.email{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #808080;
}

.email:hover{
    text-decoration: underline;
}

.call{
    border: 1px solid #1553A6;
    width: 167px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #1553A6;
    cursor: pointer;
    transition: all 300ms ease;
    background-color: white;
    margin-right: 10px;
}

.call:hover{
    background-color: #396caf;
    border: none;
    color: white;
}

.likes{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.cart{
    display: flex;
    align-items: center;
    
}

.fa-shopping-cart{
    margin-right: 5px;
    color: #1553A6;
}

.cart__text{
    font-weight: 600;
}

.menu__bg{
    background-color:#ECF3FC;
}

.menu{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 40px;
}

.katalog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 40px;
    background-color: #1553A6;
    margin-right: 30px;
}

.katalog__block{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.katalog__burger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin-right: 10px;
}

.katalog__burger:before{
    position: absolute;
    content:'';
    border: 1px solid white;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: 5px;
}

.katalog__burger:after{
    position: absolute;
    content:'';
    border: 1px solid white;
    width: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    top: -7px;
}

.katalog__text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

#ul__menu{
    display: flex;
    align-items: center;
}

#ul__menu li:hover{
    text-decoration: underline;
}

#ul__menu li:nth-child(3){
    margin-right: 55px;
    margin-left: 55px;
}

#ul__menu li:nth-child(2) {
    margin-left: 55px;
}

#ul__menu li:nth-child(4) {
    margin-right: 55px;
}

.li__block a{
    display: flex;
    align-items: center;
}

.li__img{
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.li__text{
    color: #29B594;
}

.katalog__sidebar{
    display: flex;
    background-color: white;
    padding-top: 16px;
    padding-left: 16px;
    margin-top: 10px;
    padding-right: 15px;
    position: relative;
    position: absolute;
    top: 210px;
    left: 200px;
    margin-left: 10px;
    visibility: hidden;
    z-index: 10;
}

.cube{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: white;
    transform: rotate(45deg);
    top: -4.5px;
    left: 150px;
}

.sidebar__block:nth-child(1){
    width: 270px;
}

.sidebar__block:nth-child(2) {
    width: 280px;
}

.sidebar__block:nth-child(3){
    width: 305px;
    margin-left: 70px;
    padding-right: 45px;
    
}

.sidebar__podblock{
    display: flex;
    flex-direction: column;
}

.sidebar__podblock a{
    cursor: pointer;
}

.sidebar__title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #323232;
    margin-bottom: 10px;
}

.sidebar__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
}

.sidebar__subtitle:hover{
    text-decoration: underline;
}

.sidebar__subtitle:last-child{
    margin-bottom: 15px;
}

.two{
    display: flex;
    flex-direction: column;
}

.three{
    display: flex;
    flex-direction: column;
}


/* SLIDER */


.slider__title{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
}

.slider__name{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 28px;
    color: #FFFFFF;
}

.slider__line{
    content: '';
    width: 215px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
}

.slider__description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    width: 520px;
}


.slider__button{
    background-color: transparent;
    border: 1px solid white;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 45px;
    padding-right: 45px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 200ms ease;
}

.slider__button:hover{
    background-color: white;
    color:  #007ABE;
}

.slider__cost{
    display: flex;
    align-items: center;
}

.cost{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-right: 12px;
}

.money{
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 150%;
    color: #FFFFFF;
}




.slider{
    background-color: #007DC3;
    position: relative;
    
}

.slider__block{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__podblock{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
}


.slider__img{
    padding-top: 24px;
    width: 304px;
    height: 388px;
    margin-bottom: 20px;
    padding-left: 132px;
}

.tre{
    z-index: 1;
    width: 430px;
    height: 0;
    border-left: 150px solid transparent  ;
    border-right: 0px solid transparent;
    border-bottom: 432px solid#1BB18D ;
}

.tre::before{
    z-index: -1;
    content: '';
    position: absolute;
    transform: translateX(-170px);
    width: 100px;
    height: 0;
    border-left: 150px solid transparent  ;
    border-right: 0px solid transparent;
    border-bottom: 432px solid #57D9BA ;
}

.tre::after{
    position: absolute;
    top: -100px;
    transform: translateX(89px);
    content: '';
    width: 400px;
    height: 100px;
    border-left: 150px solid transparent  ;
    border-right: 0px solid transparent;
    border-bottom: 432px solid #1BB18D ;
    z-index: -1;
}


/* SLIDER-Dots */

.slider .slick-dots{
    position: absolute;
    top: 380px;
    left: 30px;
}

.slider .slick-dots li{
    margin: 5px;
}

.slider .slick-dots button{
    border: 2px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}


.slider .slick-dots button::before{
    font-size: 0;
    border-radius: 50%;
    
}

.slider .slick-dots li.slick-active button::before{
    background-color: white;
    width: 12.6px;
    height: 12.6px;
}


/* TEATH */

.teath__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 74px;
    padding-bottom: 80px;
}

.teath__block{
    width: 550px;
    display: flex;
    flex-wrap: wrap;

}

.teath__podblock{
    width: 250px;
    height: 132px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.teath__podblock:nth-child(1){
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-left: none;
    border-top: none;
    border-bottom: none;
}
.teath__podblock:nth-child(2){
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.teath__podblock:nth-child(3){
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-left: none;
    border-bottom: none;
}
.teath__podblock:nth-child(4){
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.teath__icon{
    width: 62px;
}

.teath__text{
    font-style: normal;
    font-weight: 600;
    font-size: 13.5px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    width: 150px;
}

/* PARTHNER */

.parthner__description{
    text-align: center;
    margin-bottom: 47px;
}

.parthner__block{
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.parthner__block a{
    transition: all 200ms ease;
}

.parthner__block a:hover{
    box-shadow: 0px 0.4px 8.4px 1.4px;
}

.parthner__podblock{
    width: 380px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ACE1FF;
    transition: all 200ms ease;

}

.parthner__podblock:nth-child(1){
    border-top: none;
    border-left: none;
}

.parthner__podblock:nth-child(2){
    border-top: none;
    border-right: none;
    border-left: none;
}

.parthner__podblock:nth-child(3){
    border-top: none;
    border-right: none;
}

.parthner__podblock:nth-child(4){
    border-top: none;
    border-left: none;
}

.parthner__podblock:nth-child(5){
    border-top: none;
    border-right: none;
    border-left: none;
}

.parthner__podblock:nth-child(6){
    border-top: none;
    border-right: none;
}

.parthner__podblock:nth-child(7){
    border-top: none;
    border-left: none;
    border-bottom: none;
}

.parthner__podblock:nth-child(8){
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
}

.parthner__podblock:nth-child(9){
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.parthner__img{
    width: 150px;
    height: 152px;
}


/* STORE */

.slider__store{
padding-left: 40px;
background-color: #F4FBFF;
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
}

.store__h1{
    margin-bottom: 20px;
}

.store__block{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    border: 1px solid #B9E6FF;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: white;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.store__img{
    width: 220px;
    height: 180px;
    padding-left: 50px;
}

.store__block:hover{
    box-shadow: 0px 0.4px 8.4px 1.4px;
}

.store__title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #323232;
    margin-top: 9px;
}

.store__podblock{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sliTitle{
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #5B5B5B;
}

.country{
    width: 150px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sliSub{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #323232;
}

.coun__city{
    margin-top: 8px;
    margin-bottom: 8px;
}

.now__now{
    width: 150px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #00C914;
}

.store__line{
    content: '';
    width: 302px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 16px;
}

.choose__block{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.choose__podblock{
    display: flex;
    align-items: center;
    margin-right: 63px;
}

.text{
    font-size: 20px;
}

.border{
    border: 2px solid #ACE1FF;
    padding: 7px 12px;
    margin-right: 9px;
    margin-left: 9px;
}

.choose__cost{
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #1553A6;
}

.toCart{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    background-color: #1553A6;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    margin-top: 29px;
}

.toCart a{
    color: white;
}

.slider__store .slick-dots li{
    margin: 5px;
}

.slider__store .slick-dots button{
    border: 2px solid#1553A6;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}


.slider__store .slick-dots button::before{
    font-size: 0;
    border-radius: 50%;
    
}

.slider__store .slick-dots li.slick-active button::before{
    background-color:#1553A6;
    width: 12.6px;
    height: 12.6px;
}


/* ABOUT */

.about__block{
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about__title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #323232;
}

.about__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #323232;
}



.about__left{
    margin-right: 30px;
}

.about__right{
    position: relative;
}

.about__bg{
    z-index: -2;
    height: 600px;
}

.about__img{
    top: 20px;
    right: 100px;
    position: absolute;
    opacity: .4;
    z-index: 1;
}

.about__img2{
    z-index: 1;
    top: 30px;
    right: 80px;
    position: absolute;
    opacity: .4;
}

.right__block{
    position: absolute;
    top: 123px;
    left: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right__title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #1553A6;
}

.right__description{
    margin-top: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #323232;
    width: 220px;
    margin-bottom: 40px;
}

.right__block input{
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgba(50, 50, 50, 0.5);
    width: 230px;
    margin-bottom: 20px;
}


.right__block input::placeholder{
    color:  rgba(50, 50, 50, 0.5);
}

.right__button{
    padding: 10px 42px;
    background-color: #1553A6;
    border: 1px solid #1553A6;
    color: white;
    margin-top: 20px;
}

.right__check{
    display: flex;
    margin-top: 28px;

}

.right__check input{
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

.check__text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #323232;
}


/* FOOTER */

.footer{
    width: 100%;
    background-color: #172537;
    margin-top: 78px;
    padding-top: 48px;
}

.footer__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__column{
    display: flex;
    flex-direction: column;
    height: 200px;
}

.footer__column:nth-child(2),
.footer__column:nth-child(3),
.footer__column:nth-child(4),
.footer__column:nth-child(5) {
    padding-top: 60px;
}


ul li:nth-child(2){
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__img{
    width: 80px;
    height: 80px;
}

.footer__address{
    margin-top: 20px;
    width: 170px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer__link{
    font-style: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.four__column{
    display: flex;
    align-items: center;
}

.footer__block{
    display: flex;
    align-items: center;
}

.footer__block:nth-child(2) {
    margin-top: 12px;
    margin-bottom: 12px;
}

.block__img{
    margin-right: 25px;
}

.footer__tel,
.footer__email{
    color: white;
}

.footer__tel:hover,
.footer__email:hover{
    text-decoration: underline;
}

.social{
    margin-top: 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social__img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.footer__line{

    width: 100%;
    height: 1px;
    background-color: white;
}

.copyright{
    width: 100%;
    background-color: #172537;
}

.copyright__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 31px;
    padding-bottom: 20px;
}

.copy__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.copy__block{
    display: flex;
    align-items: center;
}

.copy__block input{
    width: 285px;
    height: 40px;
    padding-top: 2px;
    padding-left: 15px;
    margin-right: 6px;
    border-radius: 2px;
}

.copy__block input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(50, 50, 50, 0.6);
}

.copy__button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 179px;
    height: 40px;
    background-color: #1553A6;
    color: white;
    cursor: pointer;
}

.copy__button:hover{
    background-color: #1d65c4;
}

/***********************/

.click__block{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: black;
    margin-left: 20px;
}

.click__block a:nth-child(1) {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #808080;
    border: 1px solid #808080;
    border-top: none;
    border-bottom: none;
    border-left: none;
    padding-right: 5px;
    margin-right: 5px;
}
.click__block a:nth-child(1):hover{
    text-decoration: underline;
}


.click__block a:nth-child(2) {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

/* STOMATOLOGY */

.stomatology__title{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #323232;
    margin-top: 38px;
}

.stoma__block{
    margin-top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stoma__item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 74px;
    background-color: #F4FBFF;
    margin-right: 30px;
    height: 28px;
    cursor: pointer;
    transition: background 300ms ease 0s;
}

.stoma__item:hover{
    background-color: #a6cce2;
}

.stoma__text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #323232;
    margin-left: 18px;
}

.stoma__select{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 46px;
}

.stoma__button{
    padding: 15px 67px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1553A6;
    background-color: transparent;
    border: 1px solid  #1553A6;
    cursor: pointer;
}

.stoma__button:hover{
    background-color:#1553A6;
    color: white;
}

.select__block{
    display: flex;
    align-items: center;
}

.select__text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #323232;
    margin-right: 32px;
}

.select__block select{
    width: 247px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: rgba(50, 50, 50, 0.6);
    background-color: transparent;
    border: 1px solid rgba(50, 50, 50, 0.6);
    padding: 5px;
}


/* TOVAR */

.tovar__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

