.spoiler {}

.spoiler-wrapper {
    width: 400px;
}
.spoiler-title:first-child{
    border-top: 1px solid rgb(167, 167, 167);
}
.spoiler-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(167, 167, 167);
    padding: 5px 10px;
    cursor: pointer;
    border-top: none;
}
.spoiler-title__text {
    text-transform: uppercase;
}

.spoiler-title__arrow {
    font-size: 14px;
    color: rgb(99, 99, 99);
}

.spoiler-content {
    width: 100%;
    background-color: rgb(165, 193, 204);
    max-height: 0px;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}
.spoiler-content__wrapper{
    padding: 15px;
}