.login {
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 574px) {
        padding: 0px;
        margin-top: 30px;
    }
}
.login .button{
    margin: 15px auto;
}
.login .input{
    margin-top: 5px;
}
.login-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.login-block {
    margin-top: 15px;
		&__title {
		}
		&__input {
            margin-top: 5px;
		}
}
.registration-link {
    font-size: 14px;
    color: blue;
}
.login-box span{
    @media (max-width: 574px) {
        font-size: 14px;
    }
}
