<div class="add-course-form" >
  <div class="form-container">
    <form class="form" [formGroup]="reactiveForm" >
      <h1 class="newCourseTitle">New course</h1>
      <label for="title" class="form-label title-label">Title</label><br>
      <input id="title" type="text" placeholder="Text input" class="form-input" formControlName="title" name="first">
      <div>
        <span style="color: red" *ngIf ="!reactiveForm.get('title').valid">The title you entered is not a valid</span>
      </div>
<!--      <b *ngIf="title.length < 1" class="fill-field">&nbsp;*fill this field</b><br>-->
      <label for="description" class="form-label description-label">Description</label><br>
      <textarea id="description" placeholder="Add description" class="form-textarea" cols="60" rows="10"
                formControlName="description" name="first"></textarea>
      <div>
      <span style="color: red" *ngIf ="!reactiveForm.get('description').valid">The description you entered is not a valid</span>
    </div>
      <label for="duration" class="form-label duration-label">Duration</label><br>
      <input id="duration" type="number" placeholder="minutes" class="form-input " formControlName="duration" name="first">
      <div>
      <span style="color: red" *ngIf ="!reactiveForm.get('duration').valid">The duration you entered is not a valid</span>
    </div>
      <label for="date" class="form-label date-label">Date</label><br>
      <input id="date" type="text" class="form-input" formControlName="creationDate" name="first">
      <div>
        <span style="color: red" *ngIf ="!reactiveForm.get('creationDate').valid">The creation date you entered is not a valid</span>
      </div><br>
<!--      <label for="authors" class="form-label">authors</label><br>-->
<!--      <input id="authors" type="text" placeholder="Start typing" class="form-input"><br>-->
      <div>
        <button class="cancel-btn" (click)="onCancelNewCourseClick()">Cancel</button>
        <button class="submit-btn"  (click)="navToCourses()" >Save</button>
      </div>
    </form>
  </div>
</div>
