<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Название проекта-->
    <title>Test Layout</title>

    <!--Подключаем стили-->
    <link rel="stylesheet" href="css/main.css">

    <!--Подключаем иконки-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-
    fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG95r"
    crossorigin="anonymous">

    <!--Подключаем шрифты-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap" rel="stylesheet">

</head>

<body>

    <header class="header">

        <div class="header__bg">
            <img src="./img/bg__img.png" alt="" class="bg__img">
        </div>

        <div class="container">

            <div class="header__inner">



                <div class="header__row">

                    <div class="header__column">

                        <div class="header__title">Tincidunt netus ut luctus eleifend</div>

                        <div class="header__line"></div>

                        <div class="header__subtitle">Eu sollicitudin eleifend dictumst ultricies metus elementum. Commodo ullamcorper odio molestie nisl rhoncus gravida. Elementum sit in sit vulputate eget lectus. Diam eleifend semper ornare tempus habitant risus purus. Nisi nam adipiscing aliquet tincidunt amet in quis.</div>
                    </div>

                    <img src="./img/1.svg" class="header__img">

                </div>
            </div>
            <!-- /.header__inner -->
        </div>
        <!-- /.container -->
    </header>
    <!-- /.header -->

    <section class="second">
        <div class="container">

            <div class="second__inner">

                <div class="second__title">Feugiat lectus vitae</div>

                <div class="header__line"></div>

                <div class="second__subtitle">Vulputate sit massa quis eleifend iaculis at duis montes. Et vitae eget at lectus semper in. Rhoncus, nibh faucibus aliquam amet arcu pellentesque euismod fringilla lacinia. Eget elementum senectus auctor pellentesque nibh turpis dignissim sed. Sed bibendum consectetur vulputate sagittis tincidunt laoreet.
                    Consectetur libero, vitae, elementum nisl. Risus, dictum dui pellentesque pellentesque turpis tempor sapien nunc integer. Non nisl faucibus mi dui. Nulla nunc faucibus lacus pharetra, nunc sagittis. Fermentum mi proin sed tristique condimentum sed aliquet diam.
                    Arcu pulvinar eget sollicitudin et ut amet, erat aenean. Ut tristique aliquet elementum erat sed venenatis. Nisi sem et viverra feugiat aliquet. At amet vitae lorem morbi enim. Tortor aliquet tellus cum nisl est, quam mauris, pretium nunc. Amet in odio non, tempus. Praesent volutpat justo, diam amet nibh nibh cras. Platea blandit lacus, sagittis scelerisque elementum nisl, odio. Magna tellus, magna nisl purus. Amet, dolor augue libero velit enim amet, dictum in interdum. Non fringilla ut ultrices vel commodo. A morbi elementum mi, tellus, amet quam egestas ligula. Sapien mi pellentesque sodales faucibus. Amet donec mollis arcu.
                </div>

                <div class="second__block">

                    <div class="second__row">
                        <div class="second__item">
                            <div class="item__text">Proin</div>
    
                            <div class="item__number">1234</div>
                        </div>
    
                        <div class="second__item">
                            <div class="item__text">Euismod</div>
    
                            <div class="item__number">Tincidunt</div>
                        </div>
    
                        <div class="second__item">
                            <div class="item__text">3</div>
    
                            <div class="item__number">Nunc</div>
                        </div>
    
                        <div class="second__item">
                            <div class="item__text">Mattis quisque</div>
    
                            <div class="item__number">Morbi</div>
                        </div>
    
                        <div class="second__item">
                            <div class="item__text">Risus</div>
    
                            <div class="item__number">Dignissim</div>
                        </div>
                    </div>

                    <div class="second__row">
                        <div class="second__item">
                            <div class="item__text">Lacinia</div>
    
                            <div class="item__number">Blandit</div>
                        </div>
    
                        <div class="second__item">
                            <div class="item__text">Aenean</div>
    
                            <div class="item__number">200 000</div>
                        </div>
    
                        <div class="second__item">
                            <div class="item__text">Nec</div>
    
                            <div class="item__number">Sagittis viverra</div>
                        </div>
                    </div>
                </div>


                <!--slider-->
                <div class="slider">

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Proin</div>
    
                            <div class="item__number">1234</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Euismod</div>
    
                            <div class="item__number">Tincidunt</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">3</div>
    
                            <div class="item__number">Nunc</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Mattis quisque</div>
    
                            <div class="item__number">Morbi</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Risus</div>
    
                            <div class="item__number">Dignissim</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Lacinia</div>
    
                            <div class="item__number">Blandit</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Aenean</div>
    
                            <div class="item__number">200 000</div>
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="second__item">
                            <div class="item__text">Nec</div>
    
                            <div class="item__number">Sagittis viverra</div>
                        </div>
                    </div>

                </div>



            </div>
            <!-- /.second__inner -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.second -->

    <section class="third">

        <div class="third__bg">
            <img src="./img/bg__img2.png" alt="" class="bg__img2">
        </div>

        <div class="container">

            <div class="third__inner">

                <div class="head">

                    <div class="head__title">Nisl morbi in facilisis</div>

                    <div class="header__line"></div>

                </div>
                <!-- /.head -->

                <video controls  src="" poster="./img/poster.png"></video>

            </div>
            <!-- /.third__inner -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.third -->

    <section class="four">
        <div class="container">
            <div class="four__inner">


                <div class="four__row">

                    <div class="four__column">

                        <div class="four__title">Eleifend duis volutpat orci in ipsum laoreet in</div>

                        <div class="header__line"></div>

                        <div class="four__subtitle">
                            Ultrices id adipiscing bibendum auctor enim aenean. Vitae in eget mollis et, proin amet, aliquam mi suspendisse. Sit vitae quis ipsum faucibus viverra. Diam ultrices pretium morbi faucibus a pellentesque tortor eget. A cras augue vitae, massa in non iaculis faucibus. Vitae amet, nunc, pellentesque libero. Semper dui a, adipiscing etiam augue egestas.
                            Turpis ut augue blandit amet hendrerit vel. Diam risus amet dignissim scelerisque posuere.
                        </div>

                    </div>
                    <!-- /.four__column -->

                    <div class="four__block">

                        <div class="four__description">Malesuada volutpat</div>

                        <div class="header__line"></div>

                        <div class="four__list">

                            <div class="list__row">

                                <img src="./img/icon1.svg" class="list__img">

                                <div class="list__title">Tristique sit</div>

                            </div>

                            <div class="list__row">

                                <img src="./img/icon2.svg" class="list__img">

                                <div class="list__title">Nibh gravida</div>

                            </div>

                            <div class="list__row">

                                <img src="./img/icon3.svg" class="list__img">

                                <div class="list__title">Sed tincidunt</div>

                            </div>

                            <div class="list__row">

                                <img src="./img/icon4.svg" class="list__img">

                                <div class="list__title">Mauris pulvinar</div>

                            </div>

                            <div class="list__row">

                                <img src="./img/icon5.svg" class="list__img">

                                <div class="list__title">Et odio</div>

                            </div>

                        </div>

                    </div>
                    <!-- /.four__column -->

                </div>
                <!-- /.four__row -->

            </div>
            <!-- /.four__inner -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.four -->

    <section class="five">
        <div class="container">

            <div class="five__inner">

                <div class="head">

                    <div class="head__title">Tortor, mauris consectetur dolor</div>

                    <div class="header__line"></div>

                </div>
                <!-- /.head -->

                <div class="five__row">

                    <div class="five__column">

                        <div class="five__block">

                            <div class="five__item mr">Arcu ac et.</div>
                            <div class="five__item">Arcu ac et.</div>

                        </div>

                        <div class="five__item">Mattis euismod consectetur scelerisque.</div>
                    </div>

                    <div class="five__column">

                        <div class="five__block">

                            <div class="five__item mr">Arcu ac et.</div>
                            <div class="five__item">Arcu ac et.</div>

                        </div>

                        <div class="five__item">Mattis euismod consectetur scelerisque.</div>
                    </div>

                </div>
                <!-- /.five__row -->

                <!--slider-->
                <div class="slider">

                                    <div class="slider__item">
                                        
                                        <div class="five__item mr">Arcu ac et.</div>
                                        
                                    </div>
                
                                    <div class="slider__item">
                                        
                                        <div class="five__item mr">Nec, nulla</div>
                                        
                                    </div>

                                    <div class="slider__item">
                                        
                                        <div class="five__item mr">Mattis euismod consectetur scelerisque.</div>
                                        
                                    </div>

                                    <div class="slider__item">
                                        
                                        <div class="five__item mr">Morbi ut</div>
                                        
                                    </div>

                                    <div class="slider__item">
                                        
                                        <div class="five__item mr">Eu scelerisque</div>
                                        
                                    </div>

                                    <div class="slider__item">
                                        
                                        <div class="five__item mr">Faucibus elit non molestie sapien.</div>
                                        
                                    </div>
                
                </div>

            </div>
            <!-- /.five__inner -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.five -->

    <section class="six">

        <div class="six__bg">
            <img src="./img/bg__img3.png" alt="" class="bg__img3">
        </div>

        <div class="container">

            <div class="six__inner">

                <div class="head">

                    <div class="head__title">Nisl morbi in facilisis</div>

                    <div class="header__line"></div>

                </div>
                <!-- /.head -->


                <div class="sliderBig">

                    <div class="sliderBig__item">
                        <img src="./img/slider__photo.png" class="slider__img">
                    </div>

                    <div class="sliderBig__item">
                        <img src="./img/slider__photo.png" class="slider__img">
                    </div>

                    <div class="sliderBig__item">
                        <img src="./img/slider__photo.png" class="slider__img">
                    </div>

                </div>
                <!-- /.sliderBig -->

            </div>
            <!-- /.six__inner -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.six -->

    <section class="seven">
        <div class="container">

            <div class="seven__inner">

                <div class="head">

                    <div class="head__title">Sem pellentesque</div>

                    <div class="header__line"></div>

                </div>
                <!-- /.head -->

                <div class="seven__row">

                    <div class="seven__column">

                        <img src="./img/vector1.svg"  class="seven__img">

                        <div class="seven__title">Duis massa</div>

                        <div class="seven__subtitle">Dui tellus suscipit interdum molestie. Vel eget ac eu sit leo morbi integer in urna.</div>

                    </div>

                    <div class="seven__column">

                        <img src="./img/vector2.svg"  class="seven__img">

                        <div class="seven__title">Nunc rhoncus</div>

                        <div class="seven__subtitle">Mauris, pretium dui, faucibus nisi, duis nulla nec habitant. Maecenas.</div>
                        
                    </div>

                    <div class="seven__column">

                        <img src="./img/vector3.svg"  class="seven__img">

                        <div class="seven__title">Lacus, euismod</div>

                        <div class="seven__subtitle">Id hendrerit turpis a lectus etiam pretium, et consequat. Ante vitae sit mauris duis.</div>
                        
                    </div>
                </div>
                <!-- /.seven__row -->

                <div class="seven__row">

                    <div class="seven__column">

                        <img src="./img/vector4.svg"  class="seven__img">

                        <div class="seven__title">Justo, integer urnaa</div>

                        <div class="seven__subtitle">Vulputate quam quis turpis libero. Nec morbi odio nisl egestas tristique nisl.</div>

                    </div>

                    <div class="seven__column">

                        <img src="./img/vector5.svg"  class="seven__img">

                        <div class="seven__title">Felis, tellus morbi</div>

                        <div class="seven__subtitle">Id lectus sed a vulputate. Justo dolor nisi cursus quam porttitor vulputate non.</div>
                        
                    </div>

                    <div class="seven__column">

                        <img src="./img/vector6.svg"  class="seven__img">

                        <div class="seven__title">Lectus fames</div>

                        <div class="seven__subtitle">Accumsan sit sed vel ultrices in egestas congue. Ipsum viverra diam, lorem varius. </div>
                        
                    </div>
                </div>
                <!-- /.seven__row -->
            </div>
            <!-- /.seven__inner -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.seven -->

    <footer class="footer">

        <div class="footer__bg">
            <img src="./img/bg__img4.png" alt="" class="bg__img4">
        </div>

        <div class="container">

            <div class="footer__inner">

                <div class="footer__row">

                    <div class="footer__column">

                        <div class="footer__title">Mauris elit, quis vitae at vulputate justo</div>

                        <div class="header__line"></div>

                        <div class="footer__media">

                            <div class="footer__block">

                                <a href="#" class="media">
                                    <i class="fab fa-facebook-f footer__icon"></i>
                                </a>

                                <a href="#" class="media">
                                    <i class="fab fa-twitter footer__icon"></i>
                                </a>

                                <a href="#" class="media">
                                    <i class="fab fa-linkedin-in footer__icon"></i>
                                </a>

                            </div>

                            <button class="footer__button">Join Us</button>
                        </div>
                        <!-- /.footer__media -->
                    </div>
                    <!-- /.footer__column -->

                    <img src="./img/footer.png" alt="" class="footer__img">
                </div>
                <!-- /.footer__row -->
            </div>
            <!-- /.footer__inner -->
        </div>
        <!-- /.container -->
    </footer>
    <!-- /.footer -->
    

    <!--Подключаем скрипты-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>