.content {
    width: 100%;
    margin-top: 15px;
    border: 2px solid rosybrown;
    padding: 15px;
    background-color: white;
    margin-bottom: 15px;
}
.content-courses {
    margin-top: 15px;
}
