/* Подлюкчаем шрифты */

@font-face {
    font-family: 'Gilroy';
    src: local('../fonts/Gilroy Medium'), local('../fonts/Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Обнуление */
*, *:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    font-weight: 500;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

button{
    outline: none;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px 15px;
}

/* Обнуление */


.circle{
    position: absolute;
    top: 0;
}

.circle__left{
    position: absolute;
    top: 650px;
    right: 0px;
    z-index: -1;
}

.burger{

    width: 34px;
    height: 34px;
    border: 2px solid #B80036;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease;
    display: none;
}

@media (max-width: 1180px) {
    .burger{
        display: flex;
    }
}

.burger:hover{
    background-color: #B80036;
}

.burger:hover .burger__line,
.burger:hover .burger__line::before,
.burger:hover .burger__line::after{
    background-color: white;
}

.burger__line{
    position: relative;
    width: 15px;
    height: 2px;
    background-color: #B80036;
}

.burger__line::before{
    content: '';
    position: absolute;
    top: 5px;
    width: 15px;
    height: 1.5px;
    background-color: #B80036;
}

.burger__line::after{
    content: '';
    position: absolute;
    top: -5px;
    width: 15px;
    height: 1.5px;
    background-color: #B80036;
}

/* ================================================================================ */

/* MAIN */

.header{
    width: 100%;
    margin-bottom: 60px;
}

.header__top{
    width: 100%;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 28px;
    border-bottom: 1px solid #E9E9E9;
    z-index: 2;
}

.logo{
    cursor: pointer;
    width: 22%;
}

.location{
    display: flex;
    align-items: center;
    /*padding-left: 30px;*/
}

.location__img{
    width: 14px;
    height: 18px;
    margin-right: 10px;
}

.location__text{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #A9B0BE;
    cursor: pointer;
}


.nav{
    display: flex;
    align-items: center;
}

@media (max-width: 1180px) {
    .nav{
        display: none;
    }
}

.nav__link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222454;
}

ul li:nth-child(2){
    margin-left: 25px;
    margin-right: 25px;
}

ul li:nth-child(3){
    margin-right: 25px;
}

ul li:nth-child(4){
    width: 80px;
    margin-right: 0px;
}

ul li:nth-child(5){
    width: 120px;
    margin-right: 0px;
}

ul li:last-child{
    margin-right: 25px;
}

ul li:nth-child(4) .nav__link .fa-chevron-down,
ul li:nth-child(5) .nav__link .fa-chevron-down{
    font-size: 12px;
}

ul li:hover .nav__link{
    color: #8B0834;
}

.registration{
    display: flex;
    align-items: center;
}


.registration button{
    width: 125px;
    height: 46px;
}

.registration button{
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
    background-color: transparent;
    transition: all 200ms ease;
}

.registration button a{
    color: #A9B0BE;
}

.registration button:hover{
    background: #B80036;
    border-radius: 2px;
    color: white;
    border: none;
}

.registration button:hover a{
    color: white;
}

.header__content{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.content__title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #BE3D50;
}

.content__subtitle{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    text-transform: uppercase;
    color: #222454;
}

.content__buttons{
    display: flex;
    align-items: center;
    margin-top: 65px;
}

.content__button{
    width: 306px;
    height: 70px;
    background-color:#F5F9FC;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.content__button a{
    color: #A9B0BE;
}

.content__button:last-child{
    background-color: transparent;
}

.content__button:last-child a{
    color: #B80036;
}

.content__text{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #222454;
    margin-top: 35px;
}

.content__choose{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.content__select{
    border: 1px solid #D9DFEA;
    border-radius: 6px;
    padding-left: 9px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #222454;
    margin-right: 25px;
}

.content__find{
    width: 240px;
    min-width: 140px;
    height: 60px;
    background-color: #B80036;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 30px;
}

.content__example{
    margin-top: 15px;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A9B0BE;
}

.content__block{
    width: 50%;
}

.content__block:first-child{
    z-index: 2;
    width: 50%;
}

.header__img{
    margin-top: 130px;
    padding-left: 50px;
    width: 100%;
}

/* ================================================================================ */

/* HOW */

.how__inner{
    width: 100%;
    padding-left: 100px;
    padding-top: 60px;
    background-color: #383097;
    height: 430px;
    border-radius: 0px 15px 15px 0px;
    margin-left: -100px;
}

.how__title{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.how__row{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}

.how__block{
    width: 31%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;   
}

.how__podblock{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.how__block:nth-child(2){
    margin-left: 18px;
    margin-right: 18px;
}

.how__number{
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    color: #B80036;
}

.how__description{
    margin-top: 16px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #222454;
}

.how__text{
    width: 100%;
    min-height: 80px;
    max-height: 77px;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #212121;
}

.how__img{
width: 100%;
height: 120px;
margin-top: 10px;
margin-right: 30px;
}

.how__block .how__img:nth-child(2){
    width: 110px;
    
}

.how__block .how__img:nth-child(3){
    width: 130px;
}

/* ================================================================================ */


/* SPEED */

.speed{
    margin-top: 150px;
    padding-bottom: 50px;
}

.speed__row{
    display: flex;
    align-items: center;
}

.row__block{
    width: 28%;
    height: 450px;
    background-color: #FFFFFF;
    box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 300ms ease;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
}

@media (max-width: 1180px) {
    .row__block{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 25px;
    }
}

.row__block:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
}

.row__block:nth-child(3) {
    margin-right: 20px;
}

.row__block:hover{
    background-color: #A40232;
}

.row__block:hover .speed__title,
.row__block:hover .speed__subtitle{
    color: white;
}

.speed__bg{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.speed__title{
    margin-top: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 44px;
    text-transform: uppercase;
    color: #222454;
}

.speed__subtitle{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 160%;
    color: #000000;
    margin-top: 20px;
}

/* ================================================================================ */

/* MASTER */

.master{
    margin-top: 100px;
}

.master__title{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #222454;
}

.master__row{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.master__block{
    width: 32%;
    height: 650px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(56, 48, 151, 0.1);
    border-radius: 15px;
    margin-right: 27px;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
}

.master__top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9DFEA;
    padding-bottom: 30px;
}

.top__profile{
    display: flex;
    position: relative;
    margin-right: 30px;
}

.count{
    position: absolute;
    top: 0;
    right: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #F7AE26;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two{
    background-color: grey;
}

.three{
    background-color: #D67B27;
}

.top__description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.master__city{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B80036;
}

.master__name{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #222454;
    margin-top: 6px;
}

.master__stars{
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.stars__number{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A9B0BE;
    margin-left: 10px;
    margin-top: 6px;
}

.rating{
    display: inline-flex;
    flex-direction: row-reverse;
}

.rating__item{
    color: #dcdcdc;
    cursor: pointer;
    font-size: 25px;
    transition: .2s;
}

.rating__item:hover,
.rating__item:hover ~ .rating__item{
    color: gray;
}

.rating[data-total-value='1'] .rating__item:nth-child(n + 5),
.rating[data-total-value='2'] .rating__item:nth-child(n + 4),
.rating[data-total-value='3'] .rating__item:nth-child(n + 3),
.rating[data-total-value='4'] .rating__item:nth-child(n + 2),
.rating[data-total-value='5'] .rating__item:nth-child(n + 1) {
    color:  #B80036;
}



.master__spec{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #222454;
    margin-top: 30px;
}

.spec__row{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.spec__icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F5F9FC;
    padding: 9px;
    cursor: pointer;
}

.spec__icon:hover{
    background-color: #2c2c30;
}

.spec__icon:nth-child(2),
.spec__icon:nth-child(4) {
    margin-left: 18px;
    margin-right: 18px;
}

.spec__icon:nth-child(6){
    margin-left: 18px;
}

.master__location{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.masterLoc__img{
    width: 15px;
    height: 20px;
    margin-right: 19px;
}

.masterLoc__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #222454;
}

@media (max-width: 1180px) {

    .spec__icon{
        padding: 6px;
    }

    .spec__icon:nth-child(2), .spec__icon:nth-child(4) {
        margin-right: 15px;
        margin-left: 15px;
    }

    .count{
        width: 30px;
        height: 30px;
    }

    .masterLoc__text{
        font-size: 16px;
    }

    .master__name{
        font-size: 15px;
    }
    
    .master__stars{
        margin-top: 0px;
    }

    .master__img{
        width: 95%;
    }

    .master__buttons{
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .master__button{
        width: 250px;
        margin-left: 90px;
    }

    .master__words{
        margin-top: 20px;
    }
}

.master__buttons{
    margin-top: 55px;
    display: flex;
    align-items: center;
}

.master__button{
    width: 160px;
    height: 60px;
    background-color: #B80036;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-right: 80px;
}

.master__button a{
    color: #FFFFFF;
}

.master__words{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-decoration: underline;
    color: #B80036;
}


/* ================================================================================ */

/* NEWS */

.news{
    margin-top: 150px;
}

.news__title{
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #222454;
}

.news__row{
    margin-top: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.news__block{
    width: 27%;
    height: auto;
    border-radius: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    box-shadow: 0px 15px 55px rgba(56, 48, 151, 0.05);
}

.news__podblock{
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 30px;

}

.news__img{
    width: 100%;
}

.news__text{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #222454;
}

.news__data{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__date{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    color: #A9B0BE;
}

.news__views{
    display: flex;
    align-items: center;
}

.eye{
    padding-right: 10px;
}

.views__text{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    text-align: right;
    color: #A9B0BE;
}

.news__notice{
    display: flex;
    align-items: center;
}

.notice{
    margin-top: 30px;
    margin-bottom: 50px;
}

.newsDesc{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #A9B0BE;
}

.news__row2{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.news__block2{
    width: 50%;
    height: auto;
    margin-right: 19px;
    padding: 35px;
    box-shadow: 0px 10px 35px rgba(56, 48, 151, 0.05);
    border-radius: 15px;
}

.news__text2{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 160%;
    text-transform: uppercase;
    color: #222454;
}

/* ================================================================================ */

/* SLIDER */

.slider{
    width: 100%;
    height: 150px;
    background-color: teal;
    font-size: 24px;
    padding-top: 50px;
}


/* .slider{
    width: 1460px;
    padding-top: 60px;
    background-color: #383097;
    height: 400px;
    border-radius: 15px;
    margin-top: 200px;
    margin-left: 75px;
}

.slider__item{
    width: 470px;
}
.slider__top{
    display: flex;
    align-items: center;
}

.slider__block{
    width: 420px;
    height: 450px;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(56, 48, 151, 0.15);
    border-radius: 15px;
    margin-left: 50px;
    margin-bottom: 350px;
}

.slider__img{
    margin-right: 27px;
}

.slider__description{
    display: flex;
    flex-direction: column;
}

.slider__city{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #B80036;
}

.slider__name{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #222454;
    margin-top: 6px;
}

.slider__company{
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #A9B0BE;
    margin-top: 6px;
}

.slider__content{
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
}

.slider__p{
    display: flex;
    margin-right: 30px;
}

.slider__title{
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #222454;
}

.slider__subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: #A9B0BE;
}

/* Slider */

.slick-slider{}

.slick-list{}

.slick-track{}



/* Slide */

.slider__item.slick-slide{}

.slick-slide.slide-active{}

.slick-slide.slick-current{}

.slick-slide.slick-center{}




/*Arrows */

.slider.slick-arrow{}

.slider.slick-arrow.slide-prev{}

.slick-arrow.slide-next{}

.slick-arrow.slide-disabled{}



/* Dots */

.slider .slick-dots{

}
.slider .slick-dots li{

}

.slider .slick-dots button{

}


.slider .slick-dots button::before{

}

.slider .slick-dots li.slick-active button::before{

}



/* ================================================================================ */

/* FOOTER */

.footer{
    width: 100%;
    margin-top: 100px;
    background-color: #F5F9FC;
    padding-top: 70px;
    padding-bottom: 80px;
}

.footer__row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid #D9DFEA;
}

.footer__block{
    display: flex;
    flex-direction: column;
}

.footer__address{
    margin-top: 46px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A9B0BE;
}

.footer__phone{
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A9B0BE;
}

.footer__phone:hover{
    text-decoration: underline;
}

.footer__mail{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A9B0BE;
    margin-top: 20px;
}

.footer__mail:hover{
    text-decoration: underline;
}

.footer__column{
    display: flex;
    flex-direction: column;
}

.footer__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
}

.footer__page{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A9B0BE;
    margin-top: 20px;
}

.footer__page:hover{
    text-decoration: underline;
}

.footer__text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #A9B0BE;
}






















/* ================================================================================ */

/* SEARCH-PAGE 1*/

/* ================================================================================ */

.map{
    width: 100%;
}

.map__column{
    width: 90%;
    margin-right: 69px;
    margin-top: 30px;
}

.column__block{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(56, 48, 151, 0.1);
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
}

.column__img{
    margin-right: 20px;
}

.column__content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content__name{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #222454;
}

.content__spec{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #222454;
}

.content__icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #F5F9FC;
    padding: 9px;
    cursor: pointer;
}

.content__icon:hover{
    background-color: #2c2c30;
}

.content__address{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    color: #B80036;
}

.content__address:hover{
    text-decoration: underline;
}

.content__btns{
    display: flex;
    align-items: center;
}

.content__wrd{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #B80036;
    margin-right: 32px;
}

.content__wrd:hover{
    text-decoration: underline;
}

.content__btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    background-color: #B80036;
    border-radius: 2px;
    padding: 14px;
}

.pages{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pages button{
    width: 38px;
    height: 38px;
}

.page__link{
    font-style: normal;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: #222454;
    background-color: #F5F9FC;
    border-radius: 2px;
    cursor: pointer;
}

.page__link:hover{
    background-color: #D9DFEA;
}





































/* ================================================================================ */

/* SEARCH-PAGE 2*/

/* ================================================================================ */


/* SEARCH */

.search{
    padding-top: 30px;
    margin-top: -61px;
    padding-bottom: 50px;
    background: linear-gradient(150.86deg, #990430 0%, #B80036 100%);
}

.box-shadow{
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.map__filter{
    display: flex;
    padding-top: 40px;
    padding-bottom: 32px;
    margin-bottom: -90px;
}

.map__row{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1260px) {
    .map__row{
        width: 123%;
    }

    .map__column{
        width: 95%;
        margin-right: 0px;
    }
}

.map__title{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #222454;
}

.show{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #A9B0BE;
}

.show:hover{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #B80036;
}

.map__block{
    display: flex;
    align-items: center;
}

.map__text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #212121;
    margin-right: 10px;
}

.map__podblock{
    display: flex;
    align-items: center;
}

.red{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B80036;
}

.fa-sort-down{
    color: #B80036;
    padding-bottom: 5px;
}

.map__img{
    width: 90%;
    height: 90%;
    margin-top: 32px;
}

.filter{
    width: 25%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1260px) {
    .filter{
        padding-top: 70px;
    }
}

.filter__title{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #222454;
}

.filter__block{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.filter__subtitle{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #A9B0BE;
}

.input__block{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.filter__input{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #212121;
    margin-right: 20px;
}

.filter__button{
    width: 240px;
    min-width: 140px;
    height: 60px;
    background-color: #B80036;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}