
// @font-face {
//     font-family: 'Gilroy';
//     src: local('../fonts/Gilroy Medium'), local('../fonts/Gilroy-Medium'),
//         url('../fonts/Gilroy-Medium.woff2') format('woff2'),
//         url('../fonts/Gilroy-Medium.woff') format('woff'),
//         url('../fonts/Gilroy-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }