.quantity {
    display: flex;
    align-items: center;
}
.quantity-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
    font-size: 18px;
}
.quantity-minus {
}
.quantity-input {
    width: 100px;
    height: 40px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
.quantity-plus {
}