
.card {
    width: 100%;
}
.back {
    color: black;
    background-color: transparent;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}
.card-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}
.card-row{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }
}
.card-text {
    width: 60%;
    font-size: 20px;
    line-height: 1.5;
    @media (max-width: 767px) {
        width: 100%;
        font-size: 18px;
    }
}
.card-box {
    width: 30%;
    @media (max-width: 767px) {
        width: 100%;
    }
}
.card-block {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
		&__title {
            font-weight: bold;
            text-align: left;
            font-size: 18px;
		}

		&__text {
            font-size: 18px;
            margin-left: 7px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
		}
}




