@media screen and (max-width: 1200px) {
    .container,
    .header-container {
      width: 968px !important;
      padding: 0 15px;
    }
    .widgets-body {
      display: none;
    }
    .card-info:after,
    .card-statistic:after,
    .card-tarif:after,
    .card-actions:after {
      display: none;
    }
    .card-block:before {
      height: 100%;
    }
    .project-buttons {
      margin: 0 auto;
      margin-top: 20px;
    }
    .projects-data {
      margin-left: 0;
      margin: 0 auto;
    }
    .projects-info {
      margin: 0 auto;
    }
    .choise-poject,
    .poisk-block {
      margin: 0 auto;
      margin-top: 20px;
    }
    .project-poisk {
      margin-left: 0;
    }
    .search {
      right: 10px;
    }
    .project-text p:last-child {
      margin: 0 auto;
      margin-top: 30px;
    }
    .card-actions {
      margin: 0 auto;
      margin-top: 30px;
    }
    .card-choise p {
      margin-top: 20px;
      margin-left: 0;
    }
    .cancel {
      margin: 0 auto;
      margin-top: 20px;
    }
    .choise-poject {
      margin-right: 98px;
    }
    .choise-window {
      right: 40px !important;
    }
  }
  @media screen and (max-width: 992px) {
    .header-container,
    .container {
      width: 720px !important;
      padding: 0 15px !important;
    }
    .project-container {
      width: 100% !important;
    }
    .header-body {
      display: block;
      text-align: center;
    }
    .menu__item:last-child {
      background: none;
      width: auto;
      height: auto;
      margin-left: 10px;
    }
    .menu__item:last-child p {
      display: none;
    }
    .personal {
      display: block;
    }
    .account,
    .personal-name p,
    .personal-name span {
      margin: 0 auto;
      margin-top: 10px;
    }
    .account {
      margin-top: 0;
    }
    .personal {
      margin-top: 0;
    }
    .menu {
      justify-content: center;
      height: 40px;
      margin-top: 10px;
    }
    .header-menu {
      padding-bottom: 20px;
    }
    .choise-poject {
      margin: 0 auto;
      margin-top: 28px;
      margin-right: 44px;
    }
    .project-text p:nth-child(4) {
      margin: 0 auto;
      margin-top: 30px;
    }
    .card-tarif {
      margin: 0 auto;
      margin-top: 30px;
    }
    .autor-command {
      margin: 0 auto;
      margin-top: 20px;
    }
    .result-vip-button,
    .pay-button {
      margin: 0 auto;
      margin-top: 20px;
    }
    .footer-body {
      display: block !important;
    }
    .footer-right {
      margin-left: 0;
      margin-top: 50px;
    }
    .footer-left {
      margin: 0 auto;
    }
    .personal-dropdown {
      right: 25%;
      transform: translateX(-25%);
      top: 85px;
    }
    .country {
      left: 50%;
      transform: translateX(-50%);
      top: 114px;
    }
    .country span {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .container,
    .header-container {
      width: 540px !important;
      padding: 0 15px;
    }
    .choise-poject {
      margin-right: 0;
      margin: 0 auto;
      margin-top: 20px;
    }
    .projects-data {
      margin-top: 20px;
    }
    .black-list {
      margin: 0 auto;
    }
    .card-btn {
      margin-left: 90px;
    }
    .card-description span,
    .card-description p {
      width: 300px;
    }
    .card-statistic {
      margin: 0 auto;
      margin-top: 16px;
    }
    .result-body p {
      margin: 0 auto;
    }
    .result-pictures {
      margin: 0 auto;
      margin-top: 20px;
    }
    .project-text p:nth-child(3) {
      margin-left: 0;
    }
    .project-text p:nth-child(4) {
      margin-top: 0px;
      margin-left: 128px;
    }
    .project-text p:nth-child(3),
    .project-text p:nth-child(4) {
      margin-top: 30px;
    }
    content {
      opacity: 1 !important;
    }
    .menu {
      display: none;
    }
    .personal {
      margin-top: 20px;
    }
    .region {
      margin-right: 0;
    }
    .projects-wrapper {
      padding-right: 0;
      padding-left: 0;
    }
    .projects-info {
      margin-top: 20px;
    }
    .project-text p:nth-child(3) {
      margin: 0 auto;
    }
    .group-project {
      margin-left: 10px;
    }
    .menu {
      display: none !important;
    }
    .personal {
      margin-top: 20px;
    }
    .region {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 576px) {
    .header-container {
      width: 90% !important;
    }
    .container {
      width: 90% !important;
    }
    .project-container {
      width: 100% !important;
    }
    .footer-right {
      display: block;
    }
    .footer-menu:last-child,
    .footer-menu:first-child,
    .footer-menu {
      margin-left: 0;
      margin-top: 30px;
    }
    .footer-menu h3:after {
      display: none;
    }
    .footer-menu h3,
    .footer-menu a {
      text-align: center;
    }
    .logo {
      display: flex;
      justify-content: flex-start;
    }
    .personal-dropdown {
      right: 0%;
      transform: translateX(0%);
    }
    .projects-header h2 {
      margin: 0 auto;
    }
    .group-project {
      margin: 0 auto;
    }
    .project-buttons {
      display: block;
    }
    .project-btn {
      margin-left: 0;
      margin-top: 20px;
    }
    .project-poisk {
      width: 250px;
    }
    .search {
      display: none;
    }
    .project-text {
      display: block !important;
    }
    .project-text p {
      margin-left: 0;
      text-align: center;
    }
    .project-text p:nth-child(2) {
      margin-top: 20px;
    }
    .project-text p:nth-child(4) {
      margin-left: 0;
    }
    .project-text p:last-child:before {
      left: 0;
    }
    .card-user {
      display: block;
    }
    .card-user p {
      text-align: center;
    }
    .card-btn {
      margin-left: 0;
      margin: 0 auto;
      margin-top: 10px;
    }
    .card-description span,
    .card-description p {
      width: 210px;
      line-height: 1.2em;
    }
    .card-user:after {
      display: none;
    }
    .card-social a {
      margin-left: 10px;
    }
    .result-body {
      padding: 0;
    }
    .projects-header {
      display: block;
    }
    .projects-header h2,
    .projects-header p {
      text-align: center;
    }
    .manager-btn,
    .project-btn {
      margin: 0 auto;
    }
    .project-btn {
      margin-top: 20px;
    }
    .project-body {
      display: block;
    }
    .projects-info {
      display: flex;
      justify-content: center;
    }
    .choise-poject {
      text-align: center;
    }
    .choise {
      left: 80%;
      transform: translateX(-80%);
      right: 0;
    }
    .project-text p:after {
      left: 80%;
      transform: translateX(-80%);
      right: 0;
    }
    .project-text p:first-child:after {
      display: none;
    }
    .poisk-block {
      width: 250px;
    }
    .project-text p:nth-child(3) {
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .project-text p:nth-child(2) {
      margin-bottom: 30px;
    }
    .card-social {
        width: 250px;
    }
    .card-social a:last-child {
        margin-top: 0;	
    }
    .project-text p:last-child:before {
        display: none;
    }
  }