* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  /*РћР±РЅСѓР»РµРЅРёСЏ*/
  body {
    font-family: 'Roboto', sans-serif;
  }
  .header-container {
    width: 1000px;
    margin: 0 auto;
  }
  .header-menu {
    background: linear-gradient(180deg, #204275 0%, #0D2447 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  }
  .logo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .menu__link {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
  }
  .menu__item {
    margin-left: 32px;
  }
  .menu__item:last-child {
    margin-left: 32px;
  }
  .menu__item:first-child {
    margin-left: 0;
    position: relative;
  }
  .menu__item:nth-child(2) {
    position: relative;
  }
  .menu__item span {
    position: absolute;
    color: white;
    font-size: 10px;
    line-height: 21px;
    text-align: center;
    background: #B10C0C;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    right: -17px;
    top: -15px;
  }
  .menu__item:last-child {
    background: #091628;
    width: 172px;
    height: 98px;
    padding-left: 19px;
    line-height: 98px;
    position: relative;
  }
  .menu__item:last-child p {
    color: #00D300;
    font-weight: bold;
    width: 80px;
    line-height: 1.5em;
    font-size: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
  .menu {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }
  .result .container {
    display: none;
  }
  .personal-name span {
    width: 48px;
    padding: 6px 0;
    background: #4D6891;
    display: block;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0 0 39px;
    position: relative;
    cursor: pointer;
  }
  .personal-name {
    text-align: center;
  }
  .country {
    position: absolute;
    display: none;
    z-index: 1;
  }
  .country span {
    width: 48px;
    padding: 6px 0;
    background: #4D6891;
    display: block;
    border-radius: 0 0px 5px 5px !important;
    text-align: center;
    margin-top: 0;
    transition: 0.3s linear;
    cursor: pointer;
  }
  .country span:hover {
    background: #17335F;
  }
  .personal-name p {
    font-size: 12px;
    color: white;
    width: 130px;
    line-height: 1.1em;
  }
  .account {
    width: 42px;
    height: 42px;
    background: #091628;
    border-radius: 50%;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    border: 1px solid #204172;
    position: relative;
    margin-left: 5px;
    margin-top: -10px;
    cursor: pointer;
  }
  .account:after {
    position: absolute;
    content: url(../images/strelka.svg);
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
  }
  .personal {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin-top: 20px;
    
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
    position: relative;
  }
  .personal-dropdown {
    background: linear-gradient(180deg, #46628B 0%, #233D64 100%), #17335E;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 100%);
    border-radius: 5px;
    position: absolute;
    right: -60px;
    top: 70px;
    z-index: 1;
    padding-top: 20px;
    display: none;
  }
  .autor-button,
  .custom-button {
    background: #334D75;
    width: 98px;
    height: 37px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .custom-button {
    margin-left: -5px;
    background: #17335E;
  }
  .autor-button p,
  .custom-button p {
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
  }
  .dropdown-menu a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: 400;
    height: 42px;
    width: 100%;
    text-align: right;
    line-height: 42px;
    transition: 0.3s linear;
    padding-right: 16px;
  }
  .dropdown-menu a:hover {
    background: #17335F;
  }
  .dropdown-menu a img {
    padding-left: 15px;
    margin-top: 12px;
  }
  .personal-buttons {
    background: #334D75;
    border-radius: 5px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin: 0 25px 0px 25px;
    margin-bottom: 20px;
  }
  .header-body {
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  }
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  .manager-btn,
  .project-btn {
    width: 150px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    display: block;
    font-size: 14px;
    color: white;
    font-weight: 400;
    transition: 0.3s linear;
    border-radius: 5px;
  }
  .manager-btn {
    background: linear-gradient(180deg, #009D10 0%, #007A0C 100%);
  }
  .manager-btn:hover {
    background: linear-gradient(180deg, #00850D 0%, #00640A 100%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  .project-btn {
    background: linear-gradient(180deg, #FF6B00 0%, #B44B00 100%);
    margin-left: 22px;
  }
  .project-btn:hover {
    background: linear-gradient(180deg, #E46000 0%, #913D00 100%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  .project-buttons {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin-top: 3px;
  }
  .projects-header h2 {
    color: #12294A;
    font-size: 30px;
    font-weight: 500;
  }
  .projects-header p {
    color: #12294A;
    font-size: 14px;
    font-weight: normal;
    margin-top: 12px;
  }
  .projects-header {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  
    -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
  
  .project-info h2 {
    margin: 0;
    color: #12294A;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-top: -10px;
    margin-right: 25px;
  }
  .project-info p {
    margin: 0;
    color: #12294A;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  .ranks span {
    font-size: 14px;
    color: #3B82E9;
    font-weight: bold;
    width: 40px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #F9F9F9;
    display: block;
    border-radius: 5px 0px;
    position: relative;
    margin-left: 10px;
  }
  .ranks {
    position: relative;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  }
  .ranks .hint{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #12294A;
    border: 2px solid #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -20px;
    right: -15px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    background: #F0F2F3;
  }
  .hint{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #12294A;
    border: 2px solid #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -20px;
    right: -15px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    background: #F0F2F3;
    cursor: pointer;
  }
  .statistic p {
    margin-right: 10px;
  }
  .number-first a,
  .number-second a {
    font-size: 14px;
    font-weight: bold;
    color: #3B82E9;
    margin: 0 13px;
    text-align: left;
  }
  .number-first a:last-child {
    color: #E9653B;
  }
  .number-second a:first-child {
    color: #EDCA13;
  }
  .number-second a:last-child {
    color: #959595;
  }
  .number-second {
    margin-top: 5px;
  }
  .number-first {
    padding-top: 8px;
  }
  .numbers {
    background: #F9F9F9;
    width: 89px;
    height: 45px;
    border-radius: 5px 0px;
    text-align: center;
    position: relative;
  }
  
  .region {
    position: relative;
    display: inline-block;
  }
  .region p {
    position: relative;
  }
  .poject-btn-first,
  .poject-btn-second {
    width: 170px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 400;
    display: block;
    background: linear-gradient(180deg, #009D10 0%, #007A0C 100%);
    border-radius: 5px;
    letter-spacing: 0.05em;
  }
  .poject-btn-first:hover{
    background: linear-gradient(180deg, #299c35 0%, #85d48d 100%);
  }
  .poject-btn-second:hover{
    background: linear-gradient(180deg, #bd682a 0%, #ff9d57 100%);
  }
  .poject-btn-second {
    background: linear-gradient(180deg, #FF6B00 0%, #B44B00 100%);
    margin-left: 20px;
  }
  .project-buttons {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  }
  .project-info {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
    padding-left: 80px;
  }
  
  .projects-wrapper {
    padding-left: 76px;
    padding-right: 92px;
    margin-top: 36px;
  }
  
  .text__hint {
    position: absolute;
    padding: 10px;
    background: #000;
    opacity: 0.6;
    top: -42px;
    right: -95px;
    font-size: 11px;
    color: #fff;
    display: none;
  }
  
  .active__hint {
    display: block;
  }
  
  .wrapper {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
    height: 100%;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .info-drop-down {
    width: 233px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
  }
  .info-group {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; 
  
    -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    padding: 6px 8px 8px 10px;
  }
  .info-group p,
  .data-group p {
    color: #6C6C6C;
    font-size: 12px;
    font-weight: normal;
  }
  .down-list,
  .data-list {
    width: 100%;
    height: 28px;
    transition: 0.3s linear;
    padding: 0px 8px 0px 10px;
  }
  .down-list p,
  .data-list p {
    color: #2E2E2E;
    line-height: 28px;
    font-size: 12px;
    transition: 0.3s linear;
  }
  .down-list:hover,
  .data-list:hover {
    background: #12294A;
  }
  .down-list:hover p,
  .data-list:hover p {
    color: white;
  }
  .info-drop-down {
    position: relative;
  }
  .info-down {
    position: absolute;
    width: 233px;
    border: 1px solid #BDBDBD;
    border-radius: 0 0 5px 5px;
    background: white;
    z-index: 2;
    border-top: none;
    left: -1px;
  }
  .data-drop-down {
    position: relative;
  }
  .data-down {
    position: absolute;
    width: 235px;
    border: 1px solid #BDBDBD;
    border-radius: 0 0 5px 5px;
    background: white;
    z-index: 2;
    border-top: none;
    left: -1px;
  }
  .info-down,
  .data-down {
    display: none;
  }
  .projects-data {
    width: 235px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    cursor: pointer;
    margin-left: 21px;
  }
  .data-group {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
    padding: 6px 5px 8px 10px;
  }
  .project-poisk {
    width: 320px;
    height: 29px;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 12px;
    margin-left: 20px;
  }
  .poisk-block {
    position: relative;
    width: 320px;
    height: 29px;
  }
  .search {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .choise-poject {
    margin-top: 7px;
    margin-left: 48px;
  }
  .choise-poject p {
    color: #12294A;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px dashed #12294A;
    display: inline-block;
    cursor: pointer;
  }
  .choise-poject {
    position: relative;
  }
  .choise {
    position: absolute;
    right: -20px;
  }
  .project-body {
   display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin-top: 24px;
    
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
  .project-text {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
  .project-text p {
    font-size: 14px;
    color: #12294A;
    position: relative;
    margin-left: 105px;
    cursor: pointer;
  }
  .project-text p:first-child {
    margin-left: 0;
  }
  .project-text p:first-child:after {
    position: absolute;
    content: '4519';
    font-size: 14px;
    font-weight: bold;
    color: #00D300;
    right: -35px;
  }
  .project-text p:nth-child(2):after,
  .project-text p:nth-child(3):after,
  .project-text p:nth-child(4):after,
  .project-text p:last-child:after {
    position: absolute;
    content: '150';
    background: #F9F9F9;
    width: 40px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    border-radius: 5px 0px;
    top: 50%;
    transform: translateY(-50%);
    right: -45px;
    font-weight: bold;
  }
  .project-text p:nth-child(2):after {
    color: #10B10C;
  }
  .project-text p:nth-child(3):after {
    color: #B10C0C;
  }
  .project-text p:nth-child(4):after {
    color: #12294A;
  }
  .project-text p:last-child:after {
    color: #0F0CB1;
  }
  .project-text p:last-child:before {
    position: absolute;
    content: url(../img/people.svg);
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
  }
  .project-text {
    margin-top: 28px;
  }
  .widgets-body p {
    color: #707070;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
  }
  .widgets-body p:nth-child(2) {
    padding-left: 60px;
    margin-left: 200px;
  }
  .widgets-body p:nth-child(3) {
    margin-left: 120px;
  }
  .widgets-body p:nth-child(4) {
    margin-left: 90px;
  }
  .widgets-body p:last-child {
    margin-left: 115px;
  }
  .widgets-body p:first-child:before {
    position: absolute;
    content: url(../../img/projects/widget1.svg);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .widgets-body p:nth-child(2):before {
    position: absolute;
    content: url(../../img/projects/widget3.svg);
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
  .widgets-body p:nth-child(3):before {
    position: absolute;
    content: url(../../img/projects/widget2.svg);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .widgets-body p:nth-child(4):before {
    position: absolute;
    content: url(../../img/widget4.svg);
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
  }
  .widgets-body p:last-child:before {
    position: absolute;
    content: url(../../img/projects/widget5.svg);
    left: -27px;
    top: 50%;
    transform: translateY(-50%);
  }
  .widgets-body {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    padding: 44px 0 0 88px;
    margin: 0 50px 0 70px;
  }
  .widgets-body p:nth-child(2) {
      margin-left: 120px;
  }
  .widgets-body p:nth-child(3) {
      margin-left: 100px;
  }
  .widgets-body p:last-child {
      margin-left: 150px;
  }
  .card-wrapper {
    margin-top: 15px;
  }
  .card-block {
    background: #FFFFFF;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0 3px 3px 0;
    padding: 16px 16px 18px 34px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
    -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
    position: relative;
    margin-top: 20px;
   -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  }
  .card-block:first-child {
    margin-top: 0;
  }
  .card-block:before {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, #75AB4B 0%, #4A8532 100%);
    box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 6px;
    height: 290px;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
  }
  .card-block:nth-child(2):before {
    background: linear-gradient(183.3deg, #DDE20F 2.24%, #D4CC0B 91.13%);
  }
  .card-block:nth-child(3):before {
    background: linear-gradient(360deg, #004F9D 3.75%, #4290DD 100%);
  }
  .card-block:last-child:before {
    background: linear-gradient(356.87deg, #95020B 2.9%, #E4000D 97.73%);
  }
  .card-btn {
    background: linear-gradient(180deg, #75AB4B 0%, #4A8532 100%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 124px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin-left: 110px;
  }
  .card-btn-second {
    background: linear-gradient(183.46deg, #EFF23D 2.35%, #DBD42E 95.48%);
    color: #12294A;
  }
  .card-btn-third {
    background: linear-gradient(0deg, #004F9D 0%, #4290DD 100%);
  }
  .card-btn-footh {
    background: linear-gradient(356.87deg, #95020B 2.9%, #E4000D 97.73%);
  }
  .card-user {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    position: relative;
  }
  .card-user p {
    width: 100%;
    color: #12294A;
    font-size: 14px;
    font-weight: 900;
  }
  .tarif-button {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
  .card-user:after {
    position: absolute;
    content: '';
    width: 315px;
    height: 1px;
    background: #DBDBDB;
    bottom: -10px;
  }
  .card-description span {
    color: #12294A;
    font-size: 14px;
    font-weight: bold;
    width: 317px;
    display: block;
    line-height: 1.1em;
  }
  .card-description p {
    font-size: 14px;
    color: #8894A4;
    width: 315px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 1.2em;
  }
  .card-description {
    margin-top: 21px;
  }
  .card-note span {
    color: #12294A;
    font-size: 14px;
    font-weight: bold;
  }
  .card-note p {
    font-size: 14px;
    color: #8894A4;
    font-weight: 400;
    margin-top: 4px;
  }
  .card-note {
    margin-top: 15px;
  }
  .card-social a {
    width: 23px;
    height: 23px;
    border-radius: 3px;
    background: #EFEFEF;
    display: block;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    margin-left: 12px;
    transition: 0.3s linear;
  }
  .card-social a:first-child {
    margin-left: 0;
  }
  .card-social {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin-top: 12px;
    flex-wrap: wrap;
  }
  .card-statistic {
    margin-top: -5px;
    margin-left: -4px;
  }
  .statistic p {
    color: #12294A;
    font-size: 14px;
    width: 145px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
    margin-top: 15px;
  }
  .statistic p span {
    font-size: 14px;
    font-weight: bold;
  }
  .green span {
    color: #10B10C;
  }
  .red span {
    color: #B10C0C;
  }
  .black span {
    color: #12294A;
  }
  .blue span {
    color: #0F0CB1;
    margin-bottom: 15px;
  }
  .salad span {
    color: #009D10;
    margin-bottom: 5px;
  }
  .blue {
    margin-bottom: 32px;
    position: relative;
  }
  .blue:after {
    position: absolute;
    content: '';
    width: 140px;
    height: 1px;
    background: #DBDBDB;
    bottom: -17px;
  }
  .card-work span {
    color: #12294A;
    font-size: 14px;
  }
  .card-work p {
    font-size: 12px;
    color: #ABABAB;
    font-weight: bold;
    margin-top: 6px;
  }
  .card-work {
    margin-top: 15px;
  }
  .card-tarif p {
    color: #8894A4;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .card-tarif span {
    color: #12294A;
    font-size: 14px;
    font-weight: bold;
  }
  .card-tarif {
    text-align: center;
    margin-top: 8px;
    margin-left: -12px;
  }
  .tarif-btn {
    background: linear-gradient(180deg, #75AB4B 0%, #4A8532 100%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 108px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    display: block;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 23px;
    transition: 0.3s linear;
  }
  .tarif-btn:hover {
    background: linear-gradient(180deg, #5C8D35 0%, #377020 100%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  .card-emodzi a {
    color: #8894A4;
    font-size: 14px;
    font-weight: 500;
    display: inline;
    margin-left: 26px;
    position: relative;
  }
  .card-emodzi a:first-child:before {
    position: absolute;
    content: url(../img/chat.svg);
    left: -20px;
  }
  .card-emodzi a:last-child:before {
    position: absolute;
    content: url(../img/emodzi1.svg);
    left: -20px;
    bottom: -3px;
  }
  .card-emodzi {
    margin-top: 15px;
  }
  .card-russia {
    margin-top: 12px;
  }
  .card-actions a svg {
    vertical-align: baseline;
    width: 18px;
    height: 18px;
  }
  .card-actions a {
    margin-left: 6px;
  }
  .card-actions a:first-child {
    margin-left: 0;
  }
  .vip-btn {
    background: linear-gradient(180deg, #004F9D 0%, #4290DD 100%);
    border-radius: 5px;
    width: 79px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    display: block;
    transition: 0.3s linear;
  }
  .vip-btn-pass {
    border: 1px solid #1867B4;
    background: transparent;
    color: #1766B3;
  }
  .vip-btn:hover {
    background: linear-gradient(180deg, #00356A 0%, #276BAF 100%);
  }
  .vip-btn-pass:hover {
    background: linear-gradient(180deg, #004F9D 0%, #4290DD 100%);
    color: white;
  }
  .vip-button {
    margin-left: 54px;
    margin-top: 34px;
  }
  .card-actions p {
    color: #828282;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
  .start-btn {
    display: block;
    background: linear-gradient(180deg, #009D10 0%, #007A0C 100%);
    border-radius: 5px;
    color: white;
    width: 184px;
    height: 41px;
    line-height: 41px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    transition: 0.3s linear;
  }
  .start-btn svg {
    top: 3px;
    position: relative;
  }
  .start-btn:hover {
    background: linear-gradient(180deg, #008B0E 0%, #00660A 100%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  .start-btn img {
    margin-top: 10px;
    margin-right: 16px;
  }
  .card-choise p {
    color: #12294A;
    font-size: 14px;
    font-weight: normal;
    margin-top: 72px;
    margin-left: 78px;
  }
  .card-choise {
    position: relative;
  }
  .card-choise input {
    position: absolute;
    right: 5px;
    bottom: 0px;
  }
  .card-info,
  .card-statistic,
  .card-tarif {
    position: relative;
  }
  .card-info:after,
  .card-statistic:after,
  .card-tarif:after {
    position: absolute;
    content: '';
    height: 250px;
    width: 1px;
    background: #DBDBDB;
    right: -28px;
    top: 50%;
    transform: translateY(-50%);
  }
  .card-statistic:after {
    right: -18px;
  }
  .card-tarif:after {
    right: -34px;
  }
  .pause-btn {
    background: linear-gradient(356.87deg, #8E8E8E 2.9%, #B9B9B9 97.73%);
  }
  .pause-btn:hover {
    background: linear-gradient(356.87deg, #8E8E8E 2.9%, #B9B9B9 97.73%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  .result {
    background: #091628;
    opacity: 0.8;
    padding: 30px 0;
  }
  .result {
    background: none;
  }
  .projects {
    flex: 1 0 auto;
  }
  .result-pictures a img {
    width: 22px;
    height: 22px;
  }
  .result-pictures a {
    margin-left: 6px;
  }
  .result-pictures a:first-child {
    margin-left: 0;
  }
  .result-vip-btn {
    width: 79px;
    height: 29px;
    display: block;
    line-height: 29px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 15px;
  }
  .pay-btn {
    width: 108px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    background: linear-gradient(180deg, #75AB4B 0%, #4A8532 100%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), inset 0px 1px 1px rgba(255, 255, 255, 0.1), inset 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: white;
    transition: 0.3s linear;
  }
  .pay-btn:hover {
    background: linear-gradient(180deg, #5C8D35 0%, #377020 100%);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.6);
  }
  .result-body p {
    font-size: 18px;
    color: white;
  }
  .cancel {
    font-size: 12px;
    color: white;
    border-bottom: 1px dashed #fff;
  }
  .result-body {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
    padding: 0 90px 0 80px;
    flex-wrap: wrap;
  }
  .result {
    margin-top: 60px;
  }
  
  .result-pictures {
    margin-left: 24px;
  }
  .footer {
    background: #091628;
    padding: 45px 0 50px 0;
  }
  
  .footer-left {
    margin-left: 95px;
  }
  .soc-seti span {
    width: 23px;
    height: 23px;
    background: white;
    display: block;
    border-radius: 3px;
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
    margin-left: 10px;
    cursor: pointer;
  }
  .soc-seti span:first-child {
    margin-left: 0;
  }
  .soc-seti {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
    margin-top: 26px;
  }
  .soc-contact p {
    font-size: 12px;
    color: #7D838D;
    margin: 7px 0 0 0;
    text-align: center;
  }
  .soc-contact p:first-child a {
    margin-top: 14px;
    color: #3B82E9;
  }
  .footer-menu a {
    color: #7D838D;
    font-size: 12px;
    display: block;
    margin-top: 8px;
  }
  
  .footer-menu a:hover {
    text-decoration: underline;
    text-decoration-color: #00D300;
  }
  
  .footer-menu.yellow h3:after {
    background: #D4A600;
  }
  
  .footer-menu.yellow a:hover {
    text-decoration-color: #D4A600;
  }
  
  .soc-contact .link a {
    margin-top: 8px;
    color: #7D838D;
    font-size: 12px;
    display: block;
    text-align: center;
  }
  
  .soc-contact .link a:hover {
    text-decoration: underline;
    text-decoration-color: #00D300;
  }
  
  .soc-contact .link.yellow a:hover {
    text-decoration-color: #D4A600;
  }
  
  .footer-menu h3 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    position: relative;
  }
  .footer-menu h3:after {
    position: absolute;
    content: '';
    width: 24px;
    height: 3px;
    background: #00D300;
    left: 0;
    bottom: -10px;
  }
  .footer-right {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    margin-left: 126px;
  }
  .footer-left {
    width: 199px;
  }
  .footer-menu {
    margin-left: 93px;
  }
  .footer-menu:first-child {
    margin-left: 0;
  }
  .footer-menu:last-child {
    margin-left: 128px;
  }
  .footer-body {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  }
  
  .soc-seti span:hover {
    background: #204275;
  }
  
  .card-social a:hover {
    background: #204275;
  }
  
  .card-social a:hover svg {
    fill: #EFEFEF;
  }
  
  .card-social a:hover svg path {
    fill: #EFEFEF;
  }
  
  
  .color-fff {
    display: none;
  }
  #nav-personal-messages {
    font-weight: 600;
    font-size: 16px;
    color: #00D300;
  }