.img-logo {
  margin-left: 50px;
height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #30323f;
  height: 100px;
  padding: 20px 20px;
}

.log-container {
  margin-right: 50px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  color: white;
}

.header-btn {
  width: 100px;
  height: 40px;
  background-color: red ;
  border: solid 2px white;
  border-radius: 15px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.link-text {
  color: white;
  text-decoration: none;
}


