<div class="login-form">
<form>
  <h1>Login</h1>
  <div class="content">
    <div class="input-field">
      <input [(ngModel)]="userEmail" name="first" type="email" placeholder="Email" autocomplete="nope" >
    </div>
    <div class="input-field">
      <input [(ngModel)]="userPassword" name="first" type="password" placeholder="Password" autocomplete="new-password" >
    </div>
    <div class="action">
      <button class="registerBtn" >Register</button>
      <button class="signInBtn" type="submit" (click)="loginClick()" routerLink="/Courses" > Sign in</button>

    </div>
  </div>
</form>
</div>


