<div class="login-form">
<form   (ngSubmit)="loginClick()" (keyup.enter)="submitBtn.click()">
  <h1>Login</h1>
  <div class="content">
    <div class="input-field">
      <input [(ngModel)]="userEmail"  name="first" type="email" placeholder="Email" autocomplete="nope" >
    </div>
    <div class="input-field">
      <input [(ngModel)]="userPassword" name="first" type="password" placeholder="Password" autocomplete="new-password" >
    </div>
    <div class="action">

      <button #submitBtn class="signInBtn" (click)="loginClick()" routerLink="/courses" > Sign in</button>

    </div>
  </div>
</form>
</div>


