body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color:#333;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.hr{
	border: 0;
	background-color: #e5e5e5;
	width: 100%;
	margin: 20 0;
	height: 1px;
	display: block;

}

.page{
	overflow: hidden;
}


/* Container*/
.container{
width: 100%;
padding: 0 15px;
max-width: 1230px;
margin: 0 auto;
}

/*intro*/
.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(../images/intro.jpg) center
	no-repeat;
	background-size: cover;
	min-height: 820px;
	position: relative;
}

@media (max-width: 1024px) {
	.intro{
		height: 800px;
	}
}

.intro__inner{
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
	
	
}
.intro__title{
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	
	
}

.intro__title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 60px auto;
	background-color: #fff;

}

.intro__subtitle{
	margin-bottom: 20px;
	font-size: 72px;
	color:#fff;
	font-family: 'Kaushan Script', cursive;
	
	
}
/* header*/
.header{
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header.fixed{
	background-color: #eb8b8d;
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
	transform: translate3d(0, 0, 0);
}

.header.active{
	background-color: #eb8b8d;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 1024px) {



	

}

/*navigation*/

.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link{
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	position: relative;
	color: #fff;
	text-decoration: none;
	transition: color .2s linear;
}

.nav__link:after{
	content:"";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fce38a;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

}

.nav__link:hover{
	color: #fce38a;
}
.nav__link:hover:after,
.nav__link.active:after{
	display: block;
}

.nav__link.active{
	color: #fce38a;
}

/* Nav Toggle */

.nav--toggle{
	font-size: 0;
	color: transparent;
	border: 0;
	background: none;
	cursor: pointer;
	display: none;
	padding: 15px 0;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
	width: 30px;
}

.nav--toggle:focus{
	outline: 0;
}

.nav--toggle__item{
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	transition: background .2 linear;

}

.nav--toggle.active .nav--toggle__item{
	background: none;
}

.nav--toggle.active .nav--toggle__item:before{
	transform: rotate(45deg)
	translateX(-2px);
	transform-origin: left top;
	
}

.nav--toggle.active .nav--toggle__item:after{
	transform: rotate(-45deg)
	translateX(-3px);
	transform-origin: left bottom;
}

.nav--toggle__item:before
.nav--toggle__item:after {
	content: "";
	width: 100%;
	height: 3px;
	transition: transform .2s linear;
	position: absolute;
	background-color: #fff;
	left: 0;
	z-index: 1;
}

.nav--toggle__item:before{
	top: -8px;
}

.nav--toggle__item:after{
	bottom: -8px;
}




/* Button */

.btn{
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: background .1s linear, color .1s linear;
}

.btn:hover{
	background-color: #fff;
	color: black;
}

/* Slider */
.slider{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

@media (max-width: 378px) {
	.reviews{
	display: none;
	}
}

.slider__inner{

	display: flex;
	justify-content: space-between;
}

.slider__item{
	width: 23%;
	position: relative;
	padding: 20px 0;
	border-top:3px solid #fff;
	color: #fff;
	opacity: .7;
	font-size: 18px;
	text-transform: uppercase;
}

.slider__item.active{
	opacity: 1;

}

.slider__item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;

	background-color:red;

	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	
}

.slider__num{
	font-size: 24px;
	font-weight: 700;

}

/* Section */

.section{
	
	padding: 80px 0;
}

.section--devices{
	padding-bottom: 0;
	background: url("../images/devices/back.jpg")
	center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}	

.section.section--grey{
	background-color: #f8f8f8;
}

.section--clients{
	background: #f5f5f5 url(../images/otzivi/phon.png)
	center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section--map{
	padding: 40px 0;
	background: #e6e6e6 url(../images/map.png) center no-repeat;
	background-size: cover;
}

.section__header{
margin-bottom: 40px;
width: 100%;
margin: 0 auto 40 px;
max-width: 950px;
text-align: center;
}

.section__subtitle{
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
	text-align: center;
}

.section__title{
	font-size: 30px;
	font-weight: 700px;
	color: #333;
	text-align: center;
}

.section__title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 40px auto;
	background-color: #f38181;
}

.section__text{
	font-size: 15px;
	color:#999;
	text-align: center;
}

/* Card */

.card{
	margin: 80px -15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.card__item{
	position: relative;
	
	width: 33.33333%;
	padding: 0 15px;
}

.card__item:hover .card__img{
	transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__img img{
	opacity: .1;
}

.card__item:hover .card__text{
	opacity: 1;
}


.card__img{
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform .2s linear;
}

.card__img img {
	display: block;
	max-width: 100%;
	height: auto;
	transition: opacity .1s linear;
}

.card__text{
	width: 100%;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	opacity: 0;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity .2s linear;
}

.card__info{
	margin-top: 20px;
	text-align: center;
}

.card__name{
	margin-bottom: 5px;
font-size: 14px;
color:#333;
text-transform: uppercase;
}

.card__prof{
	font-size: 15px;
	font-style: italic;
	font-weight: 300;
	color: #999;

}

/* Statistic */

.statistics{
	background-color: #95e1d3;
}

.stat{
	display: flex;
	flex-wrap: wrap;
}

.stat__item{
	flex: 1 1 0;
	padding:70px 25px ;
	text-align: center;
	color: #fff;
	border-left: 1px solid #b5eae0;
}

.stat__item:last__child{
	border-right: 1px solid #b5eae0;
}

.stat__count{
	margin-bottom: 10px;
	
	font-size: 72px;
	font-weight: 700;
	line-height: 1 ;
}

.stat__text{
	font-size: 14px;
	text-transform: uppercase;

}

/* Services */

.services{
	display: flex;
	flex-wrap: wrap;
}

.services__item{
	width: 33.33333%;
	padding: 0 35px 40px 85px;
	position: relative;
	margin-bottom: 40px;
}

.services__item--border{
	border-bottom: 1px solid #e5e5e5;
}

.services__icon{
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 1;
}

.services__title{
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.services__text{
	font-size: 15px;
	color: #999;
}

/* Devices */

.devices{
width: 100px;
min-width: 600px;
margin: 0 auto;
position: relative;
}

.devices__item{
	display: block;
	max-width: 100%;
	height: auto;
}

.devices__item--iphone{
position: absolute;
bottom: -10%;
right: 0;
z-index: 1;
}

/* We do */

.wedo{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.wedo__item{
	width: 50%;
	padding: 0 15px;
}

.wedo__img{
	display: block;
	max-width: 100%;
	height: auto;

}

/* Accordion */

.accordion__item{
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.accordion__item.active 
.accordion__content {
	display: block;

}

.accordion__item.active 
.accordion__header{
	border-bottom-color: #e5e5e5;

}

.accordion__item.active 
.accordion__header:after{
	transform: translateY(-50%) rotate(-45deg);
margin-top: 5px;

}

.accordion__header{
	padding: 15px 20px 15px 65px;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid transparent; 
}

.accordion__header:after{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;
transform: translateY(-50%) rotate(135deg);

}

.accordeon__icon{
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;
	transform: translateY(-50%);
}

.accordion__content{
	display: none;
	padding: 15px 20px;
	font-size: 15px;
	color: #999;
	font-style: italic;
	font-weight: 300;
}

.accordion__title{
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

/* Reviews */

.reviews{
	padding: 0 110px;
	position: relative;
}

.reviews .slick-slider{
	padding: 0 110px;
}

.reviews__item{
	position: relative;
	padding-left: 255px; 
}

.reviews__photo{
	display: block;
	width: 210px;
	height: 210px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #95e1d3;
	z-index: 1;
}

.reviews__text{
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
	color: #999;
	margin-bottom: 15px;

}

.reviews__author{
	font-size: 24px;
	color: black;
	font-family: 'Kaushan Script', cursive;
}

.reviews__author:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;
	background-color: #f38181;
}
 
.slick-arrow {
	font-size: 0;
	color: transparent;
	position: absolute;
	top: 50%;
	cursor: pointer;
	border: 0;
	background: none;
	transform: translateY(-50%);
	z-index: 1;
}

.slick-arrow:focus{
	outline: 0;
}

.slick-arrow:after{
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
;
}

.slick-prev {
	left: 0;
	transform: rotate(-45deg)
}

.slick-next {
	right: 0;
	transform: rotate(135deg)
}

/* Social */

.social{
	display: flex;
	justify-content: center;
}


.social__item{
	padding: 12px 10px;
	width: 55px;
	height: 55px;
	line-height: 1;
background-color: #fce38a;
border-right: 1px solid #f38181;
text-decoration: none;
font-size: 30px;
color: #f38181;

transition: background .1s linear, color .1s linear;
}

.social__item:last-child{
	border-right: 0;
}

.social__item:hover{
	color:#fff;
	background-color: #f38181;
}


/* Logos */

.logos{
	display: flex;
	margin: 0 -15px;
	justify-content: space-between;
	align-items: center;
}

.logos__item{
	padding: 0 15px;
}

.logos__img{
	display: block;
	max-width: 100%;
	height: auto;
}


/* Works */

.works{
	display: flex;
}

.works__col{
	flex: 1 1 0;
}

.works__item{
	position: relative;
	background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image{
	opacity: .1;
}

.works__item:hover .works__info{
	opacity: 1;
}

.works__image{
	max-width: 100%;
	height: auto;
	display: block;
	transition: opacity .2s linear;
}

.works__info{
	width: 100%;
	position: absolute;
	text-align: center;
	color: #fff;
	opacity: 0;
	padding: 0 15px;
	top:50%;
	left: 0;
	z-index: 1;
	transform: translate3d(0, -50%, 0);
	transition: opacity .2s linear;
}

.works__title{
	margin-bottom: 5px;
	
	font-size: 14px;
	text-transform: uppercase;
}

.works__text{
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
}


/* Clients */

.clients{
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
}

.clients__item{
	width: 50%;
	padding: 0 45px 0 175px;
	position: relative;
	margin-bottom: 60px;
}

.clients__photo{
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 1;
}

.client__name{
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.client__prof{
	color:#333;
	font-size: 15px;
	font-style: italic;
	font-weight: 300;

}

.clients__text{
	color:#999;
	font-size: 15px;
}

.clients__text:before{
	content:"";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #f38181;
	margin: 15px 0;
}

/* Blog */

.blog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media (max-width: 1024px) {
	.blog{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.blog__item{
	width: 31%;
}

.blog__header{
	position: relative;
	margin-bottom: 14px ;
}

.blog__photo{
	display: block;
	height: auto;
	min-width: 100%;
}

@media (max-width: 378px) {
	.blog__photo{
		width: 200px;
	}
}

.blog__date{
	position: absolute;
	left: -10px;
	padding: 10px 20px;
	font-weight: 300;
	text-align: center;
	font-style: italic;
	font-size: 15px;
	z-index: 1;
	bottom: 10px;
	background-color: #95e1d3;
	color:#fff;
}

.blog__date-day{
font-weight: 700;
font-size: 30px;
font-style: normal;
line-height: 1;
}

.blog__content{
	margin-bottom: 10px;
}

.blog__title{
	margin-bottom: 10px;
	font-size: 14px;
	color:#333;
	text-transform: uppercase;
}

.blog__title a:hover{
	text-decoration: underline;
}

.blog__text{
	color:#999;
	font-size: 15px;

}

.blog__footer{
	border-top: 1px solid #e5e5e5;
	padding-top: 14px;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: #999;
}

.blog-stat__item{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.blog-stat__item i{
	color: #95e1d3;

}

/* Map */

.map{
	text-align: center;
}

.map__title{
	font-size: 24px;
	color: #e38181;
	font-weight: 700;
}

.map__title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px auto 0;
	background-color: #f38181;
}


.map__title a{
	color: inherit;
	text-decoration: none;
}

.map__title a:hover{
	text-decoration: underline;
}


/* Footer */

.footer{
	padding-top: 65px;
	background-color: #f8f8f8;
}

.footer__col--first{
	width: 40%;
}

.footer__col--second{
	width: 29%;
}

.footer__col--third{
	width: 22%;
}

.footer__inner{
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 65px;
	display: flex;
}

.footer__logo{
	color: #ccc;
	font-size: 46px;
	font-weight: 700;
	margin-bottom: 30px;
}

.footer__text{
	margin-bottom: 30px;
	font-size: 15px;
	color: #999;
}

.footer__social{
	margin-bottom: 25px;
}

.footer__social--header{
	padding-bottom: 15px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.footer__social--header b{
	font-size: 18px;
}

.footer__social-content{
	padding-top: 15px;
	font-size: 15px;
	font-weight: 300;
	font-style: italic;
	color: #999;
}

.footer__social-content a {
	color: #95e1d3;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.footer__title{
	text-transform: uppercase;
	color: black;
	font-size: 14px;
	margin: 30px 0;
}
/* Subscribe */

.subscribe {
	width: 100%;
	max-width: 380%;
	display: flex;
}

.subscribe__input{
	height: 40px;
	padding: 12px;
	background: #fff;
	border: 1px solid #e7e7e7;
	line-height: 1.1;
	font-style: italic;
	font-size: 15px;
	color: #333;
	width: 60%;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;

}

.subscribe__input::placeholder{
	color: #ccc;
}

.subscribe__input:focus{
	outline: 0;
	border-color: #95e1d3;
}

.subscribe__btn{
	width: 40%;
	height: 40px;
	padding: 12px 30px;
	background-color: #95e1d3;
	border: 0;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.1;
}

.subscribe__btn:hover{
	background-color: #74c7b8;
}

/* Blogs */

.blogs__item{
	display: flex;
	margin-bottom: 30px;
	align-items: center;
}

.blogs__content{
	padding-left: 20px;
}

.blogs__title{
	display: block;
	line-height: 1.5;
	margin-bottom: 5px;
	color: #333;
	font-style: 12px;
	text-decoration: none;
	text-transform: uppercase;
}

.blogs__title:hover{
	text-decoration: underline;
}

.blogs__date{
	font-size: 13px;
	color: #999;
	font-weight: 300;
	font-style: italic;
}

/* Instagram */

.instagram{
	width: auto;
	display:flex ;
	flex-wrap: wrap;
	justify-content: space-between;
}



.instagram__item{
	width: 100px;
	height: 100px;
	border-bottom: 1px solid #fff;
}

.instagram__item img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Copyright */

.copyright{
	border-top: 1px solid #e5e5e5;
	padding: 20px 0;
	text-align: center;
	font-size: 14px;
	color: #333;
}

.copyright span{
	color: #f38181;
}

@media (max-width: 1230px) {
	
	/* Intro */

	.intro__subtitle{
		font-size: 52px;
	}

	.intro__title{
		font-size: 120px;
	}

	/* Reviews */

	.reviews__text{
		font-size: 20px;
	}

}

@media (max-width: 990px) {
	
	/* Intro */

	.intro__subtitle{
		font-size: 32px;
	}

	.intro__title{
		font-size: 80px;
	}

	/* Stat */

	.stat{
		justify-content: center;
	}



	.stat__item{
		flex: none;
		width: 33.33333%;
		padding-top: 30px;
		padding-bottom: 30px;
		border: 0;
	}

	.stat__item:last-child{
		border-right: 0;
	}

	/* Services */

	.services__item{
		width: 50%;
	}

	.services__item--border{
		border-bottom: 0;
		padding-bottom: 0;
	}

		/* Reviews */

		.reviews .slick-slider{
			padding: 0 60px;
		}

		.reviews__photo{
			width: 150px;
			height: 150px;
		}

		.reviews__item{
			padding-left: 175px;
		}

		/* Clients */

		.clients{
			width: 600px;
			margin: 0 auto;
		}
		.clients__item{
			width: 100%;
		}

		/* Footer */

		.footer__col--first{
			width: 100%;
		}

		.footer__col--second
		.footer__col--third{
			width: 50%; 
		}

		/* Instagram */



		.instagram__item{
			width: auto ;
			border-right: 1px solid white;
		}

}

@media (max-width: 770px) {
	
	/* Intro */

	.intro{
		min-height: 650px;
	}

	/* Header */

	.header{
		padding-top: 10px 0;
	}



	/* Nav */

	.nav{
		display: none;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #eb8b8d;
	}

	.nav.active{
		display: block;
	}

	.nav__link{
		display: block;
		margin: 0;
		padding: 8px 15px;
	}

	.nav--toggle{
		display: none;
	}

	/* Card */

	.card{
		justify-content: center;
		margin-top: 50px;
	}

	.card__item{
		width: 100%;
		max-width: 410px;
		margin-bottom: 30px;
	}

	.card__item:last-child{
		margin-bottom: 0;
	}

	/* Slider */

	.slider__text{
		display: none;
	}

	/* Section */

	.section{
		padding: 40px 0;
	}

	.section--devices{
		padding-bottom: 0;
	}

	/* Services */ 

	.services{
		justify-content: center;
	}

	.services__item{
		width: 100%;
		max-width: 400px;
		padding-left: 55px;
		padding-right: 0;
	}

	.services__icon{
		left: 0;
	}

	/* wedo */

	.wedo__item{
		width: 100%;
	}

	.wedo__img{
		display: none;
	}

	/* Reviews */
	

	.reviews__photo{
		position: static;
	}

	.reviews__item{
		padding-left: 0;
		margin: 0 auto 20px;
	}

	.reviews__text{
		font-size: 16px;
	}

	.reviews__author{
		font-size: 20px;
	}

	/* Works */

	.works{
		flex-wrap: wrap;
	}

	.works__col{
		width: 50%;
		flex: none;
	}

	/* Blog */

	.blog{
		flex-wrap: wrap;
		max-width: 380px;
		margin: 0 auto;
	}

	.blog__item{
		width: 100%;
		margin-bottom: 30px;
	}

	.blog__item:last-child{
		margin-bottom: 0;
	}

	/* Footer */

	.footer__col--first{
		width: 100%;
	}

	.footer__col--second
	.footer__col--third{
		width: 100%; 
	}

}


@media (max-width: 575px) {
	
	/* Intro */

	


	.intro__subtitle{
		font-size: 22px;
	}

	.intro__title{
		font-size: 40px;
	}

	/* Section */

	.section__header{
		margin-bottom: 50px;
	}

	.section__title{
		font-style: 24px;
	}

	.section__title:after{
		margin: 20px auto;
	}

	.section__subtitle{
		font-style: 20px;
	}

	/* Stat */

	.stat__item{
		width: 100%;
		border-bottom: 1px solid #b5eae0;
	}

	.stat__item:last-child{
		border-bottom: 0;
	}

	.stat__count{
		font-size: 52px;
	}

	/*Devices*/

	.devices{
		overflow: hidden;
		max-width: 320px;

	}

	.devices__item--iphone{
		width: 180px;
		bottom: -50px;
		right: -80px;
	}

	/* Reviews */

	.reviews .slick-slider{
		padding: 0;
	}

	.slick-arrow{
		top: 18px;
	}

	/* Logos */

	.logos{
		flex-wrap: wrap;

	}

	.logos__item{
		width: 50%;
		margin-bottom: 20px;
	}

	.logos__img{
		margin: 0 auto;
	}

	/* Works */

	.works__col{
		width: 100%;
	}

	/* Clients */

	.clients__photo{
		position: static;
	}

	.clients__item{
		padding-left: 0;
		text-align: center;
	}

	.clients__text:before{
		margin: 15px auto;
	}

	/* Blogs */

	.blogs__img{
		width: 80px;
		height: 50px;
	}

	.blogs__title{
		font-size: 1opxf;
	}


	/* Subscribe */

	.subscribe{
		flex-wrap: wrap;
		max-width: none;
	}

	.subscribe__input{
		margin-bottom: 10px;
		border-right: 1px solid #e5e5e5;
	}

	.subscribe__btn{
		width: 100%;
	}

}

@media (max-width: 616px) {

	.clients{
		width: 500px;
	}

	
}

@media (max-width: 506px) {

	.clients{
		width: 400px;
	}

	
}

@media (max-width: 375px) {

	.clients{
		width: 300px;
	}

	
}