//-------------------------------------------------------------------------------------------------------------//

/* Dimensions */

$imac: 1399;
$macbook: 1199;
$ipad: 991;
$ipod: 767;
$iphone: 575;

/* Colors */

//-------------------------------------------------------------------------------------------------------------//

/* Обнуление */
@import "zero.scss";

/* Шаблоны */
@import "templates.scss";

/* Шрифты */
@import "fonts.scss";

/* Иконочный шрифт */
@import "icons.scss";
@import "allAwesome.scss";

/* Слайдер Swiper */ 
@import "swiper.min.scss";

/* Ползунок */
@import "nouislider.min.scss";
@import "range.scss";

/* Quantity */
@import "quantity.scss";

/* Аккордеон */
@import "accordion.scss";

/* Звезды рейтинга */
@import "rating.scss";

/* Бургер меню */
@import "burger.scss";

/* Попап */
@import "popup.scss";

/* Табы */
@import "tabs.scss";

/* Пагинация */
@import "paggination.scss";

/* Footer */
@import "footer.scss";

/* Хедер */ 
@import "header.scss";

//-------------------------------------------------------------------------------------------------------------//

/* Main page */












