.animation-item {
    transform: translate(0, 30%);
    opacity: 0;
    transition: all 1.2s ease 0s;
  }
  .animation-item.active {
    transform: translate(0, 0);
    opacity: 1;
  }
  //animation-item-noHide